<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :novel_id %>



  <div class="form-group">
  <%= f.label :body,"コメント"%><br/>
  <% if browser.device.mobile? %>
  <%= f.text_area :body ,:style =>"width:100%;height:400px",:id=>"count" %>
  <% else %>
  <%= f.text_area :body,:style =>"width:100%;height:700px",:id=>"count" %>
  <% end %>

  <div class="actions">
    <%= f.submit "コメントする" %>
  </div>
<% end %>
