<%= form_for([@user,@user_about]) do |f| %>

  <div class="form-group">
   <%= f.label :name,"お名前" %>
   <%= f.text_field :name %>
  </div>
  <div class="form-group">
   <%= f.label :gender,"性別" %>
   <%= f.select :gender, ["男","女"],  :prompt => "選択してください" %>
  </div>
  <div class="form-group">
   <%= f.label :birthday,"生年月日" %>
   <%= f.date_select(
        :birthday,
        start_year: 1900,
        end_year:   (Time.now.year),
        default:    Date.new(1989, 1, 1)) %>
  </div>
  <div class="form-group">
   <%= f.label :locale,"都道府県" %>
   <%= f.collection_select :locale, JpPrefecture::Prefecture.all, :code, :name %>
  </div>
  <%= f.submit "登録する" %>
<% end %>
