<% if @user_about.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@user_about.errors.count, "error") %> prohibited this novel from being saved:</h2>
  <ul>
    <% @user_about.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<% if flash[:notice] || flash[:alert] %>
<%= bootstrap_flash %>
<% end %>

<% if  current_user.id.to_s == params[:user_id] && current_user.user_about == nil %>

<h2 class="center"> このサイトでの、あなたのお名前は？ </h2>
<p class="center"> ＊本サイトではフェイスブックでの実名などは、表示させないよ＊　</p>

<div class="container top-bottom-space">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="devise-bs">
      </div>
      <div class="panel-body">
        <%= render "user_abouts/form" %>
      </div>
    </div>
  </div>
</div>

<% else %>
<% if !@user_about.name.blank? %>
<% if flash[:notice] == "名前登録成功です！" %>
<div class="center">
  <%= image_tag("tourokukanryou.jpg",:size => "300x300") %>
  <h2><%="ようこそ！ #{@user_about.name}さん楽しんでね♪" %></h2>
</div>
<div class="line"></div>
<% end %>

<h2 class="center"><%= "自分（#{user_name(@user_about.user)}）管理画面".html_safe%> </h2>

<div class="well">名前　<%= @user_about.name %></div>
<div class="well">性別　<%= @user_about.gender %></div>
<% a=JpPrefecture::Prefecture.find(@user_about.locale) %>
<div class="well">住所　
  <% if @user_about.user_id == current_user.id && user_signed_in?%>

  <%= form_for([@user,@user_about]) do |f| %>

  <div class="form-group">
    <%= f.collection_select :locale, JpPrefecture::Prefecture.all, :code, :name %>
  </div>
  <%= f.submit "変更する" %>
  <% end %>

  <% else %>
  <%= a.name %>

  <% end %>

</div>
<div class="well">
画像　<%= image_tag(@user_about.image_url,:size => "100x100") if @user.image_url.present? %>
<%= form_for([@user,@user_about]) do |f| %>
  <% if user_signed_in? && current_user == @user %>
  <%= f.file_field :image,:label=>"　画　像", :id=>"files" %>
  <%= f.submit "変更する" %>
  <% end %>
<% end %>
</div>


<div class="container">
  <h1>所属チーム</h1>
  <div class="bs-component">
    <ul class="nav nav-pills nav-stacked">
      <li class="active"><%= link_to "超短編小説会",:ssses,{style:"font-size:20px" } %></li>
      <li><a href="#">サンプルチームA</a></li>
      <li><a href="#">サンプルチームB</a></li>

    </ul>
  </div>
</div>

<div class="col-md-8 col-md-offset-2">
  <div class="line"></div>
</div>

<!-- 　サイト内の活動内容を表示させる -->

<% comments = [] %>

<% if @novels_tukurikake != nil %>
<h1 class="center"><%= "作成中の小説"%> </h1>
<%= render 'user_abouts/novels',novels:@novels_tukurikake,comments:@comments_tukurikake,tukurikake:true %>
<% end %>

<%#= render 'user_abouts/novels',novels:@novels,comments:@comments,tukurikake:false %>
<%= render 'novels/koukai_shousetu' %>

<%#= render 'shousetukansous/shousetukansous_list' %>

<% else %>
<div class="center">
  <%= image_tag("nopperabou.jpg") %>
  <h2> いないいないばあ </h2>
</div>
<% end %>
<% end %>
