　<% if flash[:notice] || flash[:alert] %>
  <%= bootstrap_flash %>
  <% end %>

  <% if @user_about.user.deleted == true %>
  <h1 class="center"><%= "退会済みさんについて"%> </h1>
  <div class="well">画像　<%= image_tag("gaikotu.png",:size => "125x125") %></div>
 <% else %>

<h1 class="center"><%= "#{@user_about.name}さんについて"%> </h1>

  <div class="well">名前　<%= @user_about.name %></div>
  <div class="well">性別　<%= @user_about.gender %></div>
  <% a=JpPrefecture::Prefecture.find(@user_about.locale) %>
  <div class="well">住所　<%= a.name %></div>
  <div class="well">画像　<%= image_tag(@user.image_url,:size => "100x100") if @user.image_url.present? %></div>

  <% end %>

<!-- 　サイト内の活動内容を表示させる -->

<%= render 'novels/koukai_shousetu' %>
<%#= render 'shousetukansous/shousetukansous_list' %>
