<div class="aisatu_mugen">
<% @aisatu.each do |aisatu| %>
<ul>
  <li style="  list-style:none;">

    <%= render 'ssses/user_gazou', {user:aisatu.user,user_about:aisatu.user.user_about} %>

    <%= link_to user_name(aisatu.user).html_safe,ssses_user_about_path(user_id:aisatu.user.user_about.user_id) %>:

    <br/>
    「<%= aisatu.honbun %>」
  </li>
</ul>
<% end %>
</div>

<% page = session[:page]+1 %>
<% session[:page] += 1 %>
<%#= path_to_next_page @aisatu %>
<%= link_to_next_page @aisatu, 'もっと見る', id: "page#{page}",class:'read_more', remote: true %>
