<%= form_for @comment, url: ssses_comment_path do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :novel_id %>
  <%= hidden_field_tag :comment_id,@comment.id%>

  <% if controller.action_name == "show_user_about_novel"  %>
  <%= hidden_field_tag :flag,true %>
  <% end %>
  
  <div class="form-group">
  <%= f.label :body,"コメント"%><br/>
  <% if browser.device.mobile? %>
  <%= f.text_area :body ,:style =>"width:100%;height:400px",:id=>"count" %>
  <% else %>
  <%= f.text_area :body,:style =>"width:100%;height:400px",:id=>"count" %>
  <% end %>

    <div class="actions">
  <% if params[:comment_id].present? %>
  <%= f.submit "コメント編集する" %>
  <% else %>
  <%= f.submit "コメントする" %>
  <% end %>
  </div>

<% end %>
