
<% if controller.action_name == "new" || controller.action_name == "create"   %>
<% action = "create" %>
<% else %>
<% action = "update" %>
<% end %>

<%= form_for(novel,:url => { :controller => :ssses, :action => action }) do |f| %>
<% if novel.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(novel.errors.count, "error") %> prohibited this novel from being saved:</h2>

  <ul>
    <% novel.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<% if params[:preview_button] %>
<!-- || !@novel.save  -->
<%= render 'ssses/show_nakami' %>
<% end %>

<!-- うるまさんがいない時に分岐実装　4/7 -->

<% if controller.action_name == "edit" %>
<div class="bs-component">
<% else %>
<div class="well bs-component">
<% end %>
  <div class="form-horizontal">



    <div class="form-group">
      <% unless params[:flag] || params[:ivent_flag] || params[:ivent_toukou_flag]%>
      <%= f.label :past_work,"過去作？" ,:class => "col-lg-2 control-label" %>
        <% if params[:past_work_flag] == "true" %>
        <%= f.check_box :past_work, {:checked => true}, "true", "false" %>
        <% elsif params[:past_work_flag] == "false" %>
        <%= f.check_box :past_work, {:checked => false}, "true" , "false" %>
        <% else %>
        <%= f.check_box :past_work, {:checked =>  @novel.past_work}, "true" , "false" %>
        <% end %>
      <% end %>

<!-- 今度頑張る -->
      <!-- <label class="col-lg-2 control-label">
        <%＃= f.check_box 'past_work', {class:"checkbox"}, true, false %>

        <span class="checkbox-icon"></span>
                        過去作？
      </label> -->
    </div>

  <!-- <div class="col-md-offset-1"> -->
    <div class="form-group">

      <% if params[:flag] %>
      <%= f.label :genre,"ジャンル名" ,:class => "col-lg-2 control-label" %>
      <%= f.select :genre, Novel.genre_list_ssses_foram,:class => "form-control" %>
      <%= hidden_field_tag :flag,true %>
      <% elsif params[:ivent_flag] %>
      <%= f.label :genre,"ジャンル名" ,:class => "col-lg-2 control-label" %>
      <%= f.select :genre, Novel.genre_list_ssses_ivent,:class => "form-control" %>
      <%= hidden_field_tag :ivent_flag,true %>
      <% elsif params[:ivent_toukou_flag] %>

         <% if @today <= @deadline ||( (controller.action_name == "edit" || controller.action_name == "update") && novel.genre == "祭り")   %>
         <div class="col-md-offset-1">
          <h4>参考 : 祭りのキーワード(５つ以上入れてね！)</h4>
          <h5>三月/彗星/魔女/一撃/面/白い/尾　/兎(卯またはウサギも可)</h5>
          <h5><b>注意！：祭りの投稿であれば　↓　のジャンルを「祭り」に設定してください。<b></h5>
          <h5><b>注意！：祭りの投稿は,一応、１月31日までですよー！<b></h5>
        </div>
        <%= f.label :genre,"ジャンル名" ,:class => "col-lg-2 control-label" %>
         <%= f.select :genre, Novel.genre_list_ssses_ivent_toukou,:class => "form-control" %>
         <% else %>
        <%= f.label :genre,"ジャンル名" ,:class => "col-lg-2 control-label" %>
         <%= f.select :genre, Novel.genre_list_ssses_ivent_maturinasi_toukou,:class => "form-control" %>
         <% end %>
        <%= hidden_field_tag :ivent_toukou_flag,true %>
      <% else %>
      <%= f.label :genre,"ジャンル名" ,:class => "col-lg-2 control-label" %>
      <%= f.select :genre, Novel.genre_list_ssses_1,:class => "form-control" %>
      <% end %>
    </div>
  <!-- </div> -->

    <!-- <div class="form-group">
      <%#= f.label :genre2, "タグ（カンマ区切り）" %><br>
      <ul id="tag_it"></ul>
      <div>
        <button type="button">ファンタジー</button>
        <button type="button">恋愛</button>
        <button type="button">ジョーク</button>
        <button type="button">シリーズ</button>
        <button type="button">同タイトル</button>
      </div>
    </div> -->


    <div class="form-group">
      <%= f.label :title,"タイトル名" ,:class => "col-lg-2 control-label" %>

      <% if browser.device.mobile? %>
      <%= f.text_field :title,:style =>"width:100%" %>
      <% else %>
      <%= f.text_field :title,:class => "col-lg-offset-2",:style =>"width:80%" %>
      <% end %>
    </div>

    <div class="form-group">
      <!-- <%= f.label :sakushamei,"著者",:class => "col-lg-2 control-label" %> -->
      <%= f.hidden_field :sakushamei, :value => current_user.user_about.name %>
      <!-- <%= current_user.user_about.name  %> -->
    </div>

    <div class="form-group">
      <%= f.label :honbun,"中身　　　" ,:class => "col-lg-2 control-label" %>
      <% if browser.device.mobile? %>
      <%= f.text_area :honbun ,:style =>"width:100%;height:400px",:id=>"novel_honbun",class:"count" %>
      <% else %>
      <%= f.text_area :honbun ,:class => "col-lg-offset-2",:style =>"width:80%;height:700px",:id=>"novel_honbun",class:"count" %>
      <% end %>

      <% if !novel.honbun.nil? %>
      <p class="col-lg-2">現在の文字数：<span id="txtnum2"><%= novel.honbun.gsub(/(\r\n|\r|\n)+|(\s|　)+/,"").length %></span></p>
      <% else %>
      <p class="col-lg-2">現在の文字数：<span id="txtnum2">0</span></p>
      <% end %>
    </div>

    <div class="form-group">
     <%= f.label :atogaki,"あとがき" %>
       <% if browser.device.mobile? %>
     <%= f.text_area :atogaki, style:"width:100%;height:50px" %>
     <% else %>
     <%= f.text_area :atogaki ,:class => "col-lg-offset-2",:style =>"width:80%;height:100px" %>
     <% end %>

    </div>

    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <%= f.submit_tag "投稿前のご確認",name:"preview_button" %>
        <% if params[:preview_button] %>
          <% if @novel.flag == false %>
          <%= f.submit_tag "下書き保存",name:"sitagaki" %>
          <% end %>
         <%= f.submit "投稿" %>
        <% end %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
      </div>
    </div>




    <% end %>
  </div>
</div>
