<div style="background-color:#fdf7fa">

<div class="container">
  <h2><strong  id="scroll_4">4. イヴェント</strong></h2>
    <h3>（１）内容</h2>
    <% if user_signed_in? %>
   <%= link_to new_sss_path(ivent_flag:true) do %>
   <div style="margin:10px 10px 60px 10px;">
   <%= image_tag("matsurikodomo.jpg",:size => "70x70",:class=>"hoverImg",style:"float:left") %>
    <p style="padding: 30px 0 0 80px;font-size: 18px;">イベントなど作成</p></div>
  <% end %>
  <% end %>

  <div class="row" style="margin-top:2em;">
    <%= render 'novels_ichiran_format',novels:@ivent,genre_shurui:"イベント" %>
    <% if browser.device.mobile?  %>
    <div style="margin-top:2em;">
    </div>
    <% end %>
    <%= render 'novels_ichiran_format',novels:@kikaku,genre_shurui:"企画" %>
  </div>

  <div class="row" style="margin-top:2em;">
    <%= render 'novels_ichiran_format',novels:@offkai,genre_shurui:"オフ会" %>
    <% if browser.device.mobile?  %>
    <div style="margin-top:2em;">
    </div>
    <% end %>
  </div>


<div class="line">
</div>






</div>

<br/>
</div>
