<div style="background-color:#fdf7fa">
<div class="container" >
  <h2 style="margin-bottom:20px;"><strong  id="scroll_6">6.会員</strong></h2>
<ul style="padding:10px 0 0 0;">
<% @shozokus.each do |shozoku| %>
<% shozoku.user_abouts.order(id: :ASC).each do |user_about| %>


  <li style="display:inline-block;">

    <%#= render 'ssses/user_gazou', {user:user_about.user,user_about:user_about} %>


    <%# elsif twitter_profile_image_tag("#{user_about.user.uid}.jpg").present? %>
    <%#= link_to twitter_profile_image_tag("#{user_about.user.uid}.jpg",:size => '50X50'),ssses_user_about_path(user_id:user_about.user_id) %>
    <%# elsif user_about.user.image_url.present? %>
    <%#= link_to image_tag(user_about.user.image_url,:size => '50x50'),ssses_user_about_path(user_id:user_about.user.user_id) %>
    <%# else %>
    <%#= link_to image_tag("ikebana.png",:size=>'50x50'),ssses_user_about_path(user_id:user_about.user_id) %>
    <%# end %>
    <p><%= link_to user_name(user_about.user).html_safe,ssses_user_about_path(user_id:user_about.user_id) %></p>
  </li>

<% end %>
<% end %>
</ul>
</div>
</div>
