<!-- <div class="ssses-koukai-shousetu"><div class=" layerTransparent"><div class="frontContents"> -->
<div style="background-color:#fdf7fa">
<div class="container"  >


  <h2><strong id="scroll_2">3. 小説</strong></h2>


  <div class="container">
    <% if @chokkin_novels.present? %>
    <div class="sample-box-12">
      <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="background: linear-gradient(transparent 60%, #ffff66 60%);margin-bottom:35px;">☆先月と今月のご挨拶☆</span> -->
      <% if browser.device.mobile? %>
      <h4 style="text-align: center;"><strong style="background: linear-gradient(transparent 60%, #ffd5aa 60%);">☆最近の投稿作品☆</strong><h4>
        <% else %>
        <h3 style="text-align: center;"><strong style="background: linear-gradient(transparent 60%, #ffd5aa 60%);">☆☆☆☆最近の投稿作品☆☆☆☆</strong><h3>
          <% end %>

          <% @chokkin_novels.each do |chokkin_novel| %>
          <ul>
            <li style="  list-style:none;">

              <% if chokkin_novel.genre == "祭り" && @today < @happyou %>
                  <%= image_tag "daruma.png" , :size=> "80x80"%>
                  <span> ないしょ:</span>
                  <%= chokkin_novel.toukouhiduke.to_s(:compact_day) %>  「祭り」で『<a href="<%= sss_url(chokkin_novel) %>"><%= chokkin_novel.title %></a>』を投稿しました。</br>
              <% else %>

                  <%= render 'ssses/user_gazou', {user:chokkin_novel.user,user_about:chokkin_novel.user.user_about} %>
                  <%= link_to user_name(chokkin_novel.user).html_safe,ssses_user_about_path(user_id:chokkin_novel.user.user_about.user_id) %>：
                <% if browser.device.mobile? %>
                  <br/>
                  <%= chokkin_novel.toukouhiduke.to_s(:compact_day) %>　<%= chokkin_novel.past_work == true ? "過去作" : "新作" %>『<a href="<%= sss_url(chokkin_novel) %>"><%= chokkin_novel.title %></a>』を投稿しました。
                  <% else %>
                  <%= chokkin_novel.toukouhiduke.to_s(:compact_day) %>　『<%= chokkin_novel.genre %>』で<%= chokkin_novel.past_work == true ? "過去作" : "新作" %>『<a href="<%= sss_url(chokkin_novel) %>"><%= chokkin_novel.title %></a>』を投稿しました。
                <% end %>
              <% end %>



            </li>
          </ul>
          <% end %>
          <%= link_to "　もっと見る・・・",ssses_chokkin_novels_zenran_path,style:"text-decoration:none;font-size:16px" %>
        </div>
        <% end %>
  <div style="padiding-bottom:20px;;padiding-bottom:20px;">　　　
  </div>
</div>

<!-- 祭りの時はここを表示させたい  -->
<% if @today < @happyou.since(2.month) %>
<div class="row" style="margin-top:2em;">
  <%= render 'novels_ichiran_ivent',novels:@kotoshino_maturi_novels,genre_shurui:"今年の祭り" %>
  <% if browser.device.mobile?  %>
  <div style="margin-top:2em;">
  </div>
  <% end %>
</div>
<% else %>
<% end %>

  <!-- 小説電光 -->
  <h3>（1）通常作品</h2>


  <div class="hidari-yohaku5" style="padding:5px;margin:10px 0 10px 0;">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#home" data-toggle="tab" aria-expanded="true" style="font-size:18px">新作</a></li>
      <li><a href="#profile" data-toggle="tab" aria-expanded="true" style="font-size:18px">過去作</a></li>

    </ul>

    <div id="myTabContent" class="tab-content">

      <div class="tab-pane fade active in" id="home">
        <% if user_signed_in? %>




        <% end %>

        <div class="row" style="margin-top:2em;">
          <%= render 'novels_ichiran_format',novels:@sinsaku_nichijou_novels,genre_shurui:"日常" %>
          <% if browser.device.mobile?  %>
          <div style="margin-top:2em;">
          </div>
          <% end %>
          <%= render 'novels_ichiran_format',novels:@sinsaku_renai_novels,genre_shurui:"恋愛" %>
        </div>

        <div class="row" style="margin-top:2em;">
          <%= render 'novels_ichiran_format',novels:@sinsaku_joke_novels,genre_shurui:"ジョーク" %>
          <% if browser.device.mobile?  %>
          <div style="margin-top:2em;">
          </div>
          <% end %>
          <%= render 'novels_ichiran_format',novels:@sinsaku_siriz_novels,genre_shurui:"シリーズ" %>
        </div>



    </div>



      <div class="tab-pane fade" id="profile">
        <% if user_signed_in? %>
        <%= link_to new_sss_path(past_work_flag:true) do %>
        <div style="margin:10px 10px 60px 10px;">
          <%= image_tag("pen.png",:size => "70x70",:class=>"hoverImg",style:"float:left") %>
          <p style="padding: 30px 0 0 80px;font-size: 18px;">過去作投稿</p></div>
          <% end %>
          <% end %>

          <div class="row" style="margin-top:2em;">
            <%= render 'novels_ichiran_format',novels:@past_work_nichijou_novels,genre_shurui:"日常" %>
            <% if browser.device.mobile?  %>
            <div style="margin-top:2em;">
            </div>
            <% end %>
            <%= render 'novels_ichiran_format',novels:@past_work_renai_novels,genre_shurui:"恋愛" %>
          </div>

          <div class="row" style="margin-top:2em;">
            <%= render 'novels_ichiran_format',novels:@past_work_joke_novels,genre_shurui:"ジョーク" %>
            <% if browser.device.mobile?  %>
            <div style="margin-top:2em;">
            </div>
            <% end %>
            <%= render 'novels_ichiran_format',novels:@past_work_siriz_novels,genre_shurui:"シリーズ" %>
          </div>

          <div class="row" style="margin-top:2em;">
            <%= render 'novels_ichiran_format',novels:@past_work_doutitle_novels,genre_shurui:"同タイトル" %>
          </div>


        </div>

        <h3>（２）イヴェント作品</h2>
  <% if user_signed_in? %>
   <span class="row">
   <%= link_to new_sss_path(ivent_toukou_flag:true) do %>
   <%= image_tag("ivent_pen.png",:size => "50x50",:class=>"hoverImg",style:"float:left") %>
   <span style="font-size: 18px;float:left;padding-top:10px;">イヴェント投稿</span>
   <% end %>
   </span>
  <% end %>
  <div class="row" style="margin-top:2em;">
    <%= render 'novels_ichiran_ivent',novels:@sinsaku_doutitle_novels,genre_shurui:"同タイトル" %>
    <% if browser.device.mobile?  %>
    <div style="margin-top:2em;">
    </div>
    <% end %>
    <%= render 'novels_ichiran_ivent',novels:@sinsaku_sandaibanasi_novels,genre_shurui:"三題噺" %>
  </div>

  <div class="row" style="margin-top:2em;">
    <%= render 'novels_ichiran_ivent',novels:@tukurikake_novels,genre_shurui:"作りかけ作品を完成に！" %>
    <% if browser.device.mobile?  %>
    <div style="margin-top:2em;">
    </div>
    <% end %>
    <%= render 'novels_ichiran_ivent',novels:@sinsaku_maturi_novels,genre_shurui:"祭り" %>
  </div>


  <div class="row" style="margin-top:2em;">
    <%= render 'novels_ichiran_ivent',novels:@nabetani_novels,genre_shurui:"鍋谷さんの娘さん" %>
    <% if browser.device.mobile?  %>
    <div style="margin-top:2em;">
    </div>
    <% end %>
    <%#= render 'novels_ichiran_ivent',novels:@sinsaku_sandaibanasi_novels,genre_shurui:"三題噺" %>
  </div>

</div>
</div>
</div>

<%# if @today > @deadline && @today < @happyou %>
  <%#= render 'maturi_sannkasha_toukousuu' %>
<%# elsif @today >= @happyou %>
  <%#= render 'maturi_ranking' %>
<%# end %>

 <% if browser.device.mobile?  %>
 <div>
 <% else %>
 <div class="container">
 <% end %>


</div>


      </div>
  <!-- </div></div></div> -->
