<%= form_tag votes_path, method: :post do %>
  <% maturi_users.each do |user| %>
  <div style ="margin-bottom:20px">
    <%= render 'ssses/user_gazou', {user:user,user_about:user.user_about} %>
    <%= link_to user_name(user).html_safe,ssses_user_about_path(user_id:user.id) %>さん　は　 <%= @maturi_novels.where(user_id:user.id).count %>作品投稿しています。
    <div style ="margin-top:5px">
    <% for i in 1..@maturi_novels.where(user_id:user.id).count %>
      <%= fields_for "votes[]", Vote.new do |v|  %>
        <%= v.hidden_field :voter_id, value:current_user.id %>
        <%= v.hidden_field :writer_id, value:user.id %>
        <% if @today < @happyou %>
          <%#= v.collection_select :novel_id, @maturi_novels, :id, :title,{},{style: "display: inline-block;width: auto;",maxlength:12} %>
          <%= v.select :novel_id, @maturi_novels.map{|n| [n.title.truncate(16), n.id]},{},{style:"margin-bottom:5px;"} %>
        <% else %>
          <%= v.collection_select :novel_id, @maturi_novels, :id, :title,{},{style: "display: inline-block;width: auto;",:disabled => "disabled"} %>
        <% end %>
      <% end %>
    <% end %>
    </div>
  </div>
  <% end %>
  <%= submit_tag "予想保存" %>
<% end  %>
