<div class="container">
  <div class="box29">
    <div class="box-title">公開！祭りの参加者と作品数</div>
    <p>
      <% @maturi_novels = Novel.where(flag:true,label:"sss",genre:"祭り").where('toukouhiduke > ?',Date.new(@today.year-1,12,1)) %>
      <% user_ids = @maturi_novels.pluck(:user_id).group_by(&:to_i).sort_by{|_,v|-v.size}.map(&:first) %>
      <% maturi_users = User.where(id:user_ids).sort_by{ |o| user_ids.index(o.id)} %>
       <% if current_user.votes.exists? %>
      <%= render partial:"maturi_update_form", locals: {maturi_users: maturi_users} %>
      <% end %>
    </p>
  </div>
</div>
