<div class="container">
  <div class="box29">
    <div class="box-title">祭りの予想板！　下より作品を予想してください。（〆切1/31）</div>
    <div class="box-margin">
        <% @maturi_novels = Novel.where(flag:true,label:"sss",genre:"祭り").where('toukouhiduke > ?',Date.new(@today.year-1,12,1)) %>
        <!--  order(:user_id)で、user_id順に並び替え
             group_by(&:to_i)　が　user_ids,group_by { |id| id.to_i } ユーザーが投稿してハッシュにしてまとめる。
      　　　　sort_byの値の個数で並び替えして入れるに変化。ただしマイナスがあるので大きい順。
    　　　　　で、最後にmapで最初の配列を取ってくる。つまり、多く投稿したuser_id順にしている。-->
        <% user_ids = @maturi_novels.order(:user_id).pluck(:user_id).group_by(&:to_i).sort_by{|_,v|-v.size}.map(&:first) %>
        <!-- せっかく上で投稿数順に並び替えても、userを呼び出した時に順が崩れる。そのため、ユーザーを取って来て、再度、上のuser_idsを添字で並び替えする。 -->
        <% maturi_users = User.where(id:user_ids).sort_by{ |o| user_ids.index(o.id)} %>
        <% if user_signed_in? %>
          <% if current_user.votes.exists? %>
            <%= render partial:"maturi_update_form", locals: {maturi_users: maturi_users} %>
          <% else %>
            <%= render partial:"maturi_create_form", locals: {maturi_users: maturi_users} %>
          <% end %>
        <% end %>
    </div>
  </div>
</div>
