<div class="container">
<table class="table stripe-table table-striped table-hover hidari-yohaku5">
  <thead>
    <tr>
      <th>
        投票者名
      </th>
      <th>
       正解数
     </th>
   </tr>
  </thead>

  <tbody>
    <% @ranking.each do |id,count| %>
    <tr data-href="<%= ssses_vote_result_url(user_id:id) %>">
   <td>
     <%= user_name(User.find(id)).html_safe %>
   </td>
   <td>
     <%= count %>
   </td>
   </tr>
   <% end %>
  </tbody>
</table>
</div>
