<%= form_tag votes_path, method: :put do %>
  <% maturi_users.each do |user| %>
  <div style ="margin-bottom:20px">
    <%= render 'ssses/user_gazou', {user:user,user_about:user.user_about} %>
    <%= link_to user_name(user).html_safe,ssses_user_about_path(user_id:user.id) %>さん　は　 <%= @maturi_novels.where(user_id:user.id).count %>作品投稿しています。
    <div style ="margin-top:5px">
    <% current_user.votes.where('created_at > ?',Date.new(@today.year,1,11)).where(writer_id: user.id).each do |vote| %>
      <%= fields_for "votes[]", vote do |v| %>
        <% if @today < @happyou %>
          <%#= v.collection_select :novel_id, @maturi_novels, :id, :title,{},{style: "display: inline-block;width: auto;",maxlength:12} %>
          <%= v.select :novel_id, @maturi_novels.map{|n| [n.title.truncate(16), n.id]},{},{style:"margin-bottom:5px;"} %>
        <% else %>
          <%= v.collection_select :novel_id, @maturi_novels, :id, :title,{},{style: "display: inline-block;width: auto;",:disabled => "disabled"} %>
        <% end %>
      <% end %>
    <% end %>
    </div>
  </div>
  <% end %>
  <% if @today <= @happyou   %>
    <%= submit_tag "予想を更新保存する" %>
  <% else %>
    <%= submit_tag "投票を更新保存する",:disabled => "disabled" %>
  <% end %>
<% end %>
