<% unless novels.empty? %>

<div class="hidari-yohaku5">

<% case genre_shurui %>
<% when "同タイトル" %>
<div class="sample-box-doutai col-md-6 genre-column " >
<% when "三題噺" %>
<div class="sample-box-sandai col-md-6 genre-column " >
<% when "作りかけ作品を完成に！" %>
<div class="sample-box-tukurikake col-md-6 genre-column " >
<% when "祭り" %>
<div class="sample-box-maturi col-md-6 genre-column " >
<% when "今年の祭り" %>
<div class="sample-box-kotoshino-maturi col-md-6 genre-column " >
<% when "鍋谷さんの娘さん" %>
<div class="sample-box-nabetani col-md-6 genre-column " >
<% end %>


<table class="table stripe-table table-striped table-hover hidari-yohaku5">
  <thead>
    <tr>

      <th>
        <% if Novel.genre_list_ssses_1.include?(genre_shurui) %>
       タイトル
       <% else %>
       トピック
       <% end %>
      </th>

      <!-- うるまさんが居ない時にイフ追加  -->
      <% if controller.action_name != "user_about" %>
      <th>
       著者
     </th>
     <% end %>

     <th>
       投稿日時
     </th>

    </tr>
  </thead>

  <tbody>
  <% i=0 %>
    <% novels.each do |novel| %>
      <tr data-href="<%= sss_url(novel) %>">

        <td>
         <%= novel.title.truncate(20)  %>
        </td>
        <td>
          <% if novel.genre == "祭り" && @today < @happyou %>
        <span>ないしょだよ</span>
        <% else %>
         <a href="<%= ssses_user_about_url %>?user_id=<%=novel.user_id%>"><%= user_name(novel.user).html_safe  %></a>
        <% end %>
         </td>
        <td>
         <%= novel.toukouhiduke.to_s(:compact_day)  %>
        </td>
      </tr>
    <% end %>

  </tbody>
</table>

<% case genre_shurui %>
<% when "同タイトル" %>
<%= link_to "　もっと読む・・・",ssses_ichiran_path(genre:"同タイトル"),style:"text-decoration:none" %>
<% when "三題噺" %>
<%= link_to "　もっと読む・・・",ssses_ichiran_path(genre:"三題噺"),style:"text-decoration:none" %>
<% when "作りかけ作品を完成に！" %>
<%= link_to "　もっと読む・・・",ssses_ichiran_path(genre:"作りかけ作品を完成に！"),style:"text-decoration:none" %>
<% when "祭り" %>
<%= link_to "　もっと読む・・・",ssses_ichiran_path(genre:"祭り"),style:"text-decoration:none" %>
<% end %>

</div>
</div>

<% end %>
