<% unless (@sinsaku_novels.empty? && @past_work_novels.empty?) %>
<div class="bs-component" >
<h1 class="center">投稿小説一覧</h1>
  <div class="hidari-yohaku5">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#home" data-toggle="tab" aria-expanded="true" style="font-size:18px">新作</a></li>
      <li><a href="#profile" data-toggle="tab" aria-expanded="true" style="font-size:18px">過去作</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade active in" id="home">
        <%= render "ssses/user_about_novels",novels:@sinsaku_novels %>
      </div>
      <div class="tab-pane fade" id="profile">
        <%= render "ssses/user_about_novels",novels:@past_work_novels %>
      </div>
    </div>
  </div>
</div>
<% end %>
