<div class="container">
<table class="table table-striped table-hover hidari-yohaku5">
  <thead>
    <tr>
      <th>
       ジャンル
      </th>
      <th>
       タイトル
      </th>

      <% if tukurikake == false %>
      <th>
      コメ
     </th>
     <% end %>

      <% if tukurikake == false %>
     <th>
       投稿日時
     </th>
     <% else %>
     <th>
       作成日時
     </th>
     <% end %>

     <th>
       修正日時
     </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

<% i=0 %>
    <% novels.each do |novel| %>
    <tr>
      <td>
       <%= novel.genre %>
      </td>
        <td>
         <%= novel.title.truncate(20) %>
        </td>


        <% if tukurikake == false %>
        <td>
        <%= link_to comments[i].count,novel %>
       </td>
       <% end %>

        <td>
         <%= novel.created_at.to_s(:compact_day)  %>
        </td>
        <td>
<% i +=1 %>
           <% if novel.created_at == novel.updated_at %>
            −
           <% else %>
           <%= novel.updated_at.to_s(:compact_day)  %>
           <% end %>
        </td>



        <td class="btn btn-success">
        <% if Novel.genre_list_ssses_foram.include?(novel.genre) %>
        <%= link_to '仕上げる', edit_sss_path(novel,flag:true) %>
        <% elsif Novel.genre_list_ssses_ivent.include?(novel.genre) %>
        <%= link_to '仕上げる', edit_sss_path(novel,ivent_flag:true) %>
        <% elsif Novel.genre_list_ssses_ivent_toukou.include?(novel.genre) %>
        <%= link_to '仕上げる', edit_sss_path(novel,ivent_toukou_flag:true) %>
        <% else %>
        <%= link_to '仕上げる', edit_sss_path(novel) %>
        <% end %>
       </td>

        <td class="novel btn btn-danger">  <%= link_to '削除', sss_path(novel), method: :delete, data: { confirm: '削除してもよろしいでしょうか?' },style:"color:black;" %></td>
                                <!-- user_about?user_id=+8 -->
<!-- <%#= ssses_user_about_url %>?user_id=<%#=novel.user_id%> -->


      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate novels %>
</div>
