<p id="notice"><%= notice %></p>
<div class="container">
  <% if controller.action_name == "show" %>
  <ul class ="pager">
    <li>  <%= link_to '一覧に戻る', ssses_path %></li>
    &nbsp; &nbsp; &nbsp;
    <li>  <%= link_to "←前", sss_path(@novel.previous) if @novel.previous %></li>
    &nbsp; &nbsp; &nbsp;
    <li> <%= link_to '後→', sss_path(@novel.next) if @novel.next %></li>
  </ul>
  <% end %>



  <div class="text-center opacity">

    <% if browser.device.mobile? %>
    <h1 style="text-align:left">

      <%= @novel.title %>

    </h1>
    <%else %>
    <h1>

      <%= @novel.title %>

    </h1>
    <% end %>

    <!-- <%#= @novel.genre2_list.each do |tag| %>
    <p><%#= tag %></p>
    <%# end %> -->

  </div>
  <div class="text-left opacity">
    <li>
      <span id="txtnum"><%= mojibetu @novel.honbun %></span>
    </li>
    <li>
      <%= @novel.genre %>
    </li>

    <% if controller.action_name == "show" %>
    <li>
      <%= @novel.toukouhiduke.to_s(:compact_day)%>
    </li>
    <% end %>

    <br/>
    <li class="author">
      <% if @user.blank? %>
       著者：<a href="<%= ssses_user_about_url %>?user_id=<%=@novel.user_id%>"><%= user_name(current_user).html_safe %></a>
      <% elsif @user.deleted == true %>
      著者：<a href="<%= ssses_user_about_url %>?user_id=<%=@novel.user_id%>">退会済み</a>
      <% elsif  @user.deleted == false %>

        <% if @novel.genre == "祭り" && @today < @happyou %>
        著者：ないしょだよ
        <% else %>
        著者：<a href="<%= ssses_user_about_url %>?user_id=<%=@novel.user_id%>"><%= user_name(@novel.user).html_safe %></a>
        <% end %>

      <% end %>
    </li>

  </div>

  <div class="line space-choi novel-line"></div>

<%# if @novel.user_id == 10 %>
  <%#= simple_format(@novel.honbun, class: 'honbun') %>
<%# else %>
  <p class="honbun" style="word-wrap:break-word; overflow: auto;">
    <%= br(@novel.honbun) %>
  </p>
<%# end %>

  <% if @novel.genre == "祭り" && @today < @happyou  %>
  <div style = "float:right">【投稿者：ないしょだよ】</div>
  <% else %>
  <div style = "float:right">【投稿者：<%= user_name(@novel.user).html_safe %>】</div>

  <% end %>
  <br/>

  <% if @novel.atogaki.present? %>
  <div class="line" style="margin-top:20px;">
  </div>
  <div style="margin-top:20px;">
    <P class="honbun" style="font-weight:bold;">あとがき</p>
      <p class="honbun" style="word-wrap:break-word; overflow: auto;margin-bottom:20px;">
        <%= br(@novel.atogaki) %>
      </p>
    </div>
    <div class="line novel-line" style="margin-bottom:20px">
    </div>
    <% end %>



    <!--　うるまさんいない時にツイート機能を追加  -->
 <% if @novel.genre != "祭り" || @today > @happyou %>
    <% if controller.action_name == "show" %>
      <% if user_signed_in? && @novel.user_id != current_user.id %>
      <%= link_to "メッセージを送る",room_path(@user.id,label:"ssses"),class:"btn btn-xs btn-warning", :onclick=>"window.open(this.href,'hoge', 'height=800, width=800');return false;" %>
      <br/>
      <br/>
      <% end %>

      <% if user_signed_in? && @novel.user_id == current_user.id %>
      <a href="https://twitter.com/share" class="twitter-share-button" data-text="小説「<%= @novel.title %>」を書きました。" data-hashtags="超短編小説会,超短編小説,短編小説,掌編小説,小説">Tweet</a><span>・・・ツイッターに「書きました。」をする。</span> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      <% else %>
      <a href="https://twitter.com/share" class="twitter-share-button" data-text="<%= user_name(@novel.user).html_safe %>さんの小説「<%= @novel.title %>」を読みました。" data-hashtags="超短編小説会,超短編小説,短編小説,掌編小説,小説">Tweet</a><span>・・・ツイッターに「読みました。」をする。</span> <script>!function(d,s,id){var  js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      <% end %>
    <% end %>
  <% end %>

    <br/>
    <% if controller.action_name == "show" || controller.action_name == "comment_create"  %>

    <% if user_signed_in? %>
    <% if @novel.user_id == current_user.id %>

    <div class="btn btn-success btn-success2">
      <% if Novel.genre_list_ssses_foram.include?(@novel.genre) %>
      <%= link_to '編集', edit_sss_path(@novel,flag:true) %>
      <% elsif Novel.genre_list_ssses_ivent.include?(@novel.genre) %>
      <%= link_to '編集', edit_sss_path(@novel,ivent_flag:true) %>
      <% elsif Novel.genre_list_ssses_ivent_toukou.include?(@novel.genre) %>
      <%= link_to '編集', edit_sss_path(@novel,ivent_toukou_flag:true) %>
      <% else %>
      <%= link_to '編集', edit_sss_path(@novel) %>
      <% end %>
    </div>

    <div class="novel btn btn-danger">
      <%= link_to '削除', sss_path(@novel) , method: :delete, data: { confirm: '削除してもよろしいでしょうか?' } %>
    </div>

    <% end %>
    <% end %>

    <!-- <div class="btn btn-info">
    <%#= link_to '一覧に戻る', ssses_path %>
  </div> -->

  <ul class ="pager">
    <li>  <%= link_to "←前", sss_path(@novel.previous) if @novel.previous %></li>
    &nbsp; &nbsp; &nbsp;
    <li> <%= link_to '後→', sss_path(@novel.next) if @novel.next %></li>
  </ul>

  <% if @comments.present? %>
  <p class="comment-ichiran"> コメント一覧　</p>
  <div class="space-choi line novel-line"></div>
  <% end %>

  <% i=1 %>
  <ol class="media-list">
    <% @comments.each do |comment| %>
    <!-- <div class="comment-kannren"> -->
    <li class="media">
      <span><%= i %>.</span>
      <% if comment.user.deleted == true %>
      <a class="media-left" href="<%= ssses_user_about_url %>?user_id=<%=comment.user_id%>"><%= image_tag("gaikotu.png",:size => "50x50") %></a>



      <div class="media-body">
        <h4 class="media-heading">
          <strong>
            <a href="<%= ssses_user_about_url %>?user_id=<%=comment.user_id%>">退会済み</a>

            <% else %>
            <% unless @novel.genre == "祭り" && @today < @happyou %>
              <a class="media-left" href="<%= ssses_user_about_url %>?user_id=<%=comment.user_id%>"><%#= ssses_profile_img(comment.user.user_about) %></a>
            <% end %>

           <div class="media-body">
              <h4 class="media-heading">
                <strong>
                  <% if @novel.genre == "祭り" && @today < @happyou %>
                    謎人
                  <% else %>
                  <a href="<%= ssses_user_about_url %>?user_id=<%=comment.user_id%>">
                    <%= user_name(comment.user).html_safe %>
                    <% end %>
                  </a>
                  <% end %>
                </strong>
              </h4>
                <p style="width:100%; display:table; table-layout:fixed; font-size:18px; word-wrap:break-word; overflow-wrap : break-word;overflow: auto;"><%= br(comment.body) %></p>
            </div>
            <br />
            <!-- コメント編集未実装  -->
            <% if user_signed_in? && comment.user == current_user %>
            <span><%= link_to 'コメント編集', sss_path(comment.novel_id,comment_id:comment.id),:class=>"btn btn-xs btn-info" %></span>
            <% end %>

            <% if user_signed_in? && comment.user == current_user %>
            <span><%= link_to 'コメント削除', comment_path(comment,docchi:"sss"), method: :delete,data: { confirm: '削除してもよろしいでしょうか?' },:class=>"btn btn-xs btn-danger" %></span>
            <% end %>
          </li>
          <!-- </div> -->
          <% i +=1 %>
          <% end %>
        </ol>



        <% if user_signed_in? %>
        <%= render 'ssses/comment_form' %>
        <% end %>


        <% end %>
      </div>
    </div>
