<table class="table table-striped table-hover hidari-yohaku5">
  <thead>
    <tr>
      <th>
        ジャンル
      </th>
      <th>
        タイトル
      </th>
      <th>
        投稿日時
      </th>
      <th colspan="3" style="border-bottom:none"></th>
    </tr>
  </thead>
  <tbody>

    <% novels.each do |novel| %>


    <tr data-href="<%= ssses_user_about_novel_url(novel) %>">
      <td>
        <%= novel.genre %>
      </td>
      <td>
        <%= novel.title.truncate(20)  %>
      </td>

      <td>
        <%= novel.toukouhiduke.to_s(:compact_day)  %>
      </td>

      <% if  user_signed_in? && novel.user_id == current_user.id %>
      <td class="btn btn-success">
      <% if Novel.genre_list_ssses_foram.include?(novel.genre) %>
      <%= link_to '磨き上げる', edit_sss_path(novel,flag:true) %>
      <% elsif Novel.genre_list_ssses_ivent.include?(novel.genre) %>
      <%= link_to '磨き上げる', edit_sss_path(novel,ivent_flag:true) %>
      <% elsif Novel.genre_list_ssses_ivent_toukou.include?(novel.genre) %>
      <%= link_to '磨き上げる', edit_sss_path(novel,ivent_toukou_flag:true) %>
      <% else %>
      <%= link_to '磨き上げる', edit_sss_path(novel) %>
      <% end %>
     </td>


    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
