<table class="table table-striped table-hover hidari-yohaku5">

  <thead>
    <tr>
  <th>
    タイトル
  </th>

  <th>
    著者
  </th>

  <th>
    投稿日時
  </th>

  <th colspan="3"></th>
</tr>
</thead>

<tbody>
  <% novels.each do |novel| %>
    <tr data-href="<%= sss_url(novel) %>">

      <td>
       <%= novel.title.truncate(20)  %>
      </td>


      <td>
       <% if @today < @happyou && novel.genre == "祭り" %>
       ないしょだよ
       <% else %>
       <a href="<%= ssses_user_about_url %>?user_id=<%=novel.user_id%>"><%= user_name(novel.user).html_safe  %></a>
       <% end %>
      </td>

      <td>
       <%= novel.toukouhiduke.to_s(:compact_day)  %>
      </td>

    </tr>
  <% end %>
</tbody>

</table>
