<div class="container">
<% if browser.device.mobile? %>
<h4 style="text-align: center;"><strong style="background: linear-gradient(transparent 60%, #ffff66 60%);">☆最近の投稿作品☆</strong><h4>
<% else %>
<h3 style="text-align: center;"><strong style="background: linear-gradient(transparent 60%, #ffff66 60%);">☆☆☆☆最近の投稿作品☆☆☆☆</strong><h3>
<% end %>

<% @chokkin_novels.each do |chokkin_novel| %>
<ul>
<li style="  list-style:none;">

  <% if chokkin_novel.genre == "祭り" && @today < @happyou %>
      <%= image_tag "daruma.png" , :size=> "80x80"%>
      <span> ないしょ:</span>
      <%= chokkin_novel.toukouhiduke.to_s(:compact_day) %>  「祭り」で『<a href="<%= sss_url(chokkin_novel) %>"><%= chokkin_novel.title %></a>』を投稿しました。</br>
  <% else %>

<%= render 'ssses/user_gazou', {user:chokkin_novel.user,user_about:chokkin_novel.user.user_about} %>
<%= link_to user_name(chokkin_novel.user).html_safe,ssses_user_about_path(user_id:chokkin_novel.user.user_about.user_id) %>：

<% if browser.device.mobile? %>
<br/>
<%= chokkin_novel.toukouhiduke.to_s(:compact_day) %>　<%= chokkin_novel.past_work == true ? "過去作" : "新作" %>『<a href="<%= sss_url(chokkin_novel) %>"><%= chokkin_novel.title %></a>』を投稿しました。
<% else %>
<%= chokkin_novel.toukouhiduke.to_s(:compact_day) %>　『<%= chokkin_novel.genre %>』で<%= chokkin_novel.past_work == true ? "過去作" : "新作" %>『<a href="<%= sss_url(chokkin_novel) %>"><%= chokkin_novel.title %></a>』を投稿しました。
<% end %>

  <% end %>
</li>
</ul>
<% end %>
<%= paginate @chokkin_novels %>
</div>
