


<!-- うるまさんが居ない時に実装4/7 -->
  <% if controller.action_name == "edit" %>
  <h1 style="text-align : left;padding:19px">【現状】</h1>
  <%= render 'ssses/show_nakami' %>
  <% end %>

<div class="container">

<%= render 'form', novel: @novel %>
</div>

<%= link_to '表示する', sss_path(@novel),:class => "btn btn-success" %>
<%= link_to '戻る', ssses_path,:class => "btn btn-warning" %>
</div>
