<div class="container">

  <table class="table stripe-table table-striped table-hover hidari-yohaku5">
    <thead>
      <tr>
        <th>
          名前
        </th>
        <th>
          内容
        </th>
        <th>
          最終日付
        </th>
      </tr>
    </thead>

    <tbody>
      <% @messages.each do |message| %>
      <% your_id = message.your_id(current_user) %>
      <tr data-href="<%= room_url(your_id,label:"ssses") %>">
        <!-- 絶対的にこの位置に表示させたい＝絶対位置relative -->
        <td style="position:relative">
          <%#= message_user_name message %>
          <%= user_name(User.find(your_id)).html_safe %>
          <%= raw read_flag_check(message.read_flag) %>
        </td>
        <!-- rawは文字列をHTMLに変換 -->
        <td>
          <%= message.content.truncate(14) %>
        </td>
        <td>
          <%= message.created_at.to_s(:compact_day)  %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

</div>
