<% if params[:flag] %>
<h1>フォーラムのトピック作成中</h1>
<%elsif params[:ivent_flag] %>
<h1>イベントのトピック作成中</h1>
<% else %>
<h1>新規小説作成中</h1>
<% end %>
<%= render 'ssses/form', novel: @novel %>

<%= link_to '戻る', ssses_path %>
