<div class="container">
<% if @aisatu_comments.present? %>
<div class="sample-box-12">
<!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="background: linear-gradient(transparent 60%, #ffff66 60%);margin-bottom:35px;">☆先月と今月のご挨拶☆</span> -->
      <% if browser.device.mobile? %>
<h4 style="text-align: center;"><strong style="background: linear-gradient(transparent 60%, #ffff66 60%);">☆先月と今月のご挨拶☆</strong><h4>
  <% else %>
<h3 style="text-align: center;"><strong style="background: linear-gradient(transparent 60%, #ffff66 60%);">☆☆☆☆先月と今月のご挨拶☆☆☆☆</strong><h3>
<% end %>

 <% @aisatu_comments.each do |aisatu_come| %>
 <ul>
   <li style="  list-style:none;">
     <% if aisatu_come.user.user_about.image.present? %>
     <%= link_to image_tag(aisatu_come.user.user_about.image.to_s,ssses_user_about_path(user_id:aisatu_come.user.user_about.user_id) %>
     <% elsif aisatu_come.user.image_url.present? %>
     <%= link_to image_tag(aisatu_come.user.image.to_s,:size => '50x50'),ssses_user_about_path(user_id:aisatu_come.user.user_about.user_id) %>
     <% else %>
     <%= link_to image_tag("ikebana.png",:size=>'25x25'),ssses_user_about_path(user_id:aisatu_come.user.user_about.user_id) %>
     <% end %>
     <%= link_to user_name(aisatu_come.user).html_safe,ssses_user_about_path(user_id:aisatu_come.user.user_about.user_id) %>:
      <% if browser.device.mobile? %>
      <br/>
      <% end %>
     「<%= aisatu_come.body %>」
   </li>
 </ul>
 <% end %>
</div>
<% end %>

</div>
