<div class="container">
<h2 style="margin-bottom:20px;"><strong  style="background: linear-gradient(transparent 60%, #ffff66 60%);" id="scroll_5">5.コミュニケーション</strong></h2>


<% if @aisatu_comments.present? %>
<div class="sample-box-12">
<!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="background: linear-gradient(transparent 60%, #ffff66 60%);margin-bottom:35px;">☆先月と今月のご挨拶☆</span> -->
      <% if browser.device.mobile? %>
<h4 style="text-align: center;"><strong style="background: linear-gradient(transparent 60%, #ffff66 60%);">☆先月と今月のご挨拶☆</strong><h4>
  <% else %>
<h3 style="text-align: center;"><strong style="background: linear-gradient(transparent 60%, #ffff66 60%);">☆☆☆☆先月と今月のご挨拶☆☆☆☆</strong><h3>
<% end %>

 <% @aisatu_comments.each do |aisatu_come| %>
 <ul>
   <li style="  list-style:none;">
     <% if aisatu_come.user.user_about.image.present? %>
     <%= link_to image_tag(aisatu_come.user.user_about.image.to_s,ssses_user_about_path(user_id:aisatu_come.user.user_about.user_id) %>
     <% elsif aisatu_come.user.image_url.present? %>
     <%= link_to image_tag(aisatu_come.user.image.to_s,:size => '50x50'),ssses_user_about_path(user_id:aisatu_come.user.user_about.user_id) %>
     <% else %>
     <%= link_to image_tag("ikebana.png",:size=>'25x25'),ssses_user_about_path(user_id:aisatu_come.user.user_about.user_id) %>
     <% end %>
     <%= link_to user_name(aisatu_come.user).html_safe,ssses_user_about_path(user_id:aisatu_come.user.user_about.user_id) %>:
      <% if browser.device.mobile? %>
      <br/>
      <% end %>
     「<%= aisatu_come.body %>」
   </li>
 </ul>
 <% end %>
</div>
<% end %>



<h4><span style="background: linear-gradient(transparent 60%, #ffff66 60%)">(1)挨拶/会議/雑談</span></h4>


<!-- <ul class="nav nav-tabs">
<li class="active"><a href="#zatudan" data-toggle="tab" aria-expanded="true" style="font-size:18px">挨拶など</a></li>
</ul>

<div class="tab-pane fade" id="zatudan"> -->
  <% if user_signed_in? %>
   <%= link_to new_sss_path(flag:true) do %>
   <div style="margin:10px 10px 60px 10px;">
   <%= image_tag("foram.jpg",:size => "70x70",:class=>"hoverImg",style:"float:left") %>
   <p style="padding: 30px 0 0 80px;font-size: 18px;">新規にトピックスを作成</p>
  </div>
  <% end %>
  <% end %>
  <div>
  <%= render 'novels_ichiran_format',novels:@aisatu,genre_shurui:"挨拶" %>
  <%= render 'novels_ichiran_format',novels:@kaigi,genre_shurui:"会議" %>
  <%= render 'novels_ichiran_format',novels:@zatudan,genre_shurui:"雑談" %>
  </div>
<!-- </div> -->



<h4><span style="background: linear-gradient(transparent 60%, #ffff66 60%)">(2)チャット交流</span></h4>
<p>チャットルームは火曜日と土曜日の２０～２２時くらいに開催されることがあります。</p>
<div style="float:left;">
  <%= link_to "http://chat.kanichat.com/chat?roomid=ssstory_Room", :onclick=>"window.open(this.href,'hoge', 'height=800, width=800');return false;"  do %>
  <%= image_tag("illust3680.png",:size => "70x70",:class=>"hoverImg") %>
  <p style="text-align: center;"  >チャット</p>
</div>
  <% end %>

</div>
