<div class="container">
  <h2><strong style="background: linear-gradient(transparent 60%, #ffff66 60%);" id="scroll_4">4. イヴェント</strong></h2>
    <% if user_signed_in? %>
   <%= link_to new_sss_path(ivent_flag:true) do %>
   <div style="margin:10px 10px 60px 10px;">
   <%= image_tag("matsurikodomo.jpg",:size => "70x70",:class=>"hoverImg",style:"float:left") %>
    <p style="padding: 30px 0 0 80px;font-size: 18px;">イベントなど作成</p></div>
  <% end %>
  <% end %>
  <div>
  <%= render 'novels_ichiran_format',novels:@ivent,genre_shurui:"イベント" %>
  <%= render 'novels_ichiran_format',novels:@kikaku,genre_shurui:"企画" %>
  <%= render 'novels_ichiran_format',novels:@offkai,genre_shurui:"オフ会" %>
  </div>
</div>
