<div class="container">
  <h2 style="margin-bottom:20px;"><strong  style="background: linear-gradient(transparent 60%, #ffff66 60%);" id="scroll_6">6.会員</strong></h2>
<ul style="padding:10px 0 0 0;">
<% @shozoku.user_abouts.each do |user_about| %>

  <li style="display:inline-block;">
    <% if user_about.image.present? %>
    <%= link_to image_tag(user_about.image.to_s),ssses_user_about_path(user_id:user_about.user_id) %>
    <% elsif user_about.user.image_url.present? %>
    <%= link_to image_tag(user_about&.user&.image_url,:size => '50x50'),ssses_user_about_path(user_id:user_about.user_id) %>
    <% else %>
    <%= link_to image_tag("ikebana.png",:size=>'50x50'),ssses_user_about_path(user_id:user_about.user_id) %>
    <% end %>
    <p><%= link_to user_name(user_about.user).truncate(4,omission:""),ssses_user_about_path(user_id:user_about.user_id) %></p>
  </li>
<% end %>
</ul>
</div>
