<div class="container">

<h2><strong style="background: linear-gradient(transparent 60%, #ffff66 60%);" id="scroll_2">2. 小説</strong></h2>

<!-- 小説電光 -->


    <div class="hidari-yohaku5" style="padding:5px;margin:10px 0 10px 0;">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#home" data-toggle="tab" aria-expanded="true" style="font-size:18px">新作</a></li>
        <li><a href="#profile" data-toggle="tab" aria-expanded="true" style="font-size:18px">過去作</a></li>

      </ul>

      <div id="myTabContent" class="tab-content">

        <div class="tab-pane fade active in" id="home">
          <% if user_signed_in? %>
            <%= link_to new_sss_path(past_work_flag:false) do %>
             <div style="margin:10px 10px 60px 10px">
             <%= image_tag("pen.jpg",:size => "70x70",:class=>"hoverImg",style:"float:left") %>
             <p style="padding: 30px 0 0 80px;font-size: 18px;">新作投稿</p>
             </div>
            <% end %>
         <% end %>
          <%= render 'novels_ichiran_format',novels:@sinsaku_nichijou_novels,genre_shurui:"日常" %>
          <%= render 'novels_ichiran_format',novels:@sinsaku_renai_novels,genre_shurui:"恋愛" %>
          <%= render 'novels_ichiran_format',novels:@sinsaku_joke_novels,genre_shurui:"ジョーク" %>
          <%= render 'novels_ichiran_format',novels:@sinsaku_siriz_novels,genre_shurui:"シリーズ" %>
          <%= render 'novels_ichiran_format',novels:@sinsaku_doutitle_novels,genre_shurui:"同タイトル" %>
         </div>


        <div class="tab-pane fade" id="profile">
          <% if user_signed_in? %>
            <%= link_to new_sss_path(past_work_flag:true) do %>
            <div style="margin:10px 10px 60px 10px;">
            <%= image_tag("pen.jpg",:size => "70x70",:class=>"hoverImg",style:"float:left") %>
            <p style="padding: 30px 0 0 80px;font-size: 18px;">過去作投稿</p></div>
           <% end %>
          <% end %>
          <div>
          <%= render 'novels_ichiran_format',novels:@past_work_nichijou_novels,genre_shurui:"日常" %>
          <%= render 'novels_ichiran_format',novels:@past_work_renai_novels,genre_shurui:"恋愛" %>
          <%= render 'novels_ichiran_format',novels:@past_work_joke_novels,genre_shurui:"ジョーク" %>
          <%= render 'novels_ichiran_format',novels:@past_work_siriz_novels,genre_shurui:"シリーズ" %>
          <%= render 'novels_ichiran_format',novels:@past_work_doutitle_novels,genre_shurui:"同タイトル" %>
          </div>
        </div>






      </div>
    </div>

    <% if !browser.device.mobile?  %>

        <button id="denkou-hyouji">電光小説　表示/非表示</button><span>・・・最新のgoogle chromeだと上手く表示されるはず<sapn>
       <div id="denkou-keiji" style="display:none">
        <p class="ledText"><span>
          <%# @novels.find_each(:batch_size => 2) do |n| %>
          <% @novels.shuffle.each do |n| %>
          作品No.<%= n.id %>
          作品名：<%= n.title %>&nbsp;&nbsp;&nbsp;
          作者名：<%= n.sakushamei %>&nbsp;&nbsp;&nbsp;
          本文：<%= n.honbun %>&nbsp;&nbsp;&nbsp;
          <% end %>
        </span></p>
      </div>

      <% end %>

  </div>
