<div class="container">
<table class="table table-striped table-hover hidari-yohaku5">
  <thead>
    <tr>
      <th>
       タイトル
      </th>

      <% if tukurikake == false %>
      <th>
      コメ
     </th>
     <% end %>

      <% if tukurikake == false %>
     <th>
       投稿日時
     </th>
     <% else %>
     <th>
       作成日時
     </th>
     <% end %>

     <th>
       修正日時
     </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

<% i=0 %>
    <% novels.each do |novel| %>
      <tr>
        <% if novel.flag %>
        <td>
         <%= link_to novel.title.truncate(20),sss_path(novel)  %>
        </td>
        <% else %>
        <td>
         <%= link_to novel.title.truncate(20),edit_sss_path(novel) %>
        </td>
        <% end %>

        <% if tukurikake == false %>
        <td>
        <%= link_to comments[i].count,novel %>
       </td>
       <% end %>

        <td>
         <%= novel.created_at.to_s(:compact_day)  %>
        </td>
        <td>
<% i +=1 %>
           <% if novel.created_at == novel.updated_at %>
            −
           <% else %>
           <%= novel.updated_at.to_s(:compact_day)  %>
           <% end %>
        </td>

        <% if novel.flag %>
        <td class="novel btn btn-success">  <%= link_to '見る', sss_path(novel) %></td>
        <% if  user_signed_in? %>
        <% if novel.user_id == current_user.id  %>
        <td class="novel btn btn-success">  <%= link_to '編集', edit_sss_path(novel) %></td>
        <td class="novel btn btn-success">  <%= link_to '削除', sss_path(novel), method: :delete, data: { confirm: '削除してもよろしいでしょうか?' } %></td>
        <% end %>
        <% end %>

        <% else %>
        <td class="btn btn-success">  <%= link_to '仕上げる', edit_sss_path(novel.id) %></td>
        <td class="novel btn btn-danger">  <%= link_to '削除', sss_path(novel), method: :delete, data: { confirm: '削除してもよろしいでしょうか?' } %></td>
                                <!-- user_about?user_id=+8 -->
<!-- <%#= ssses_user_about_url %>?user_id=<%#=novel.user_id%> -->
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate novels %>
</div>
