<% unless novels.empty? %>

<div class="hidari-yohaku5">

<% case genre_shurui %>
<% when "日常" %>
<div class="sample-box-nichijou" >
<% when "恋愛" %>
<div class="sample-box-renai" >
<% when "ジョーク" %>
<div class="sample-box-joke" >
<% when "シリーズ" %>
<div class="sample-box-siri" >
<% when "同タイトル" %>
<div class="sample-box-doutai" >

<!-- イベント関係  -->
<% when "イベント" %>
<div class="sample-box-ivent" >
<% when "企画" %>
<div class="sample-box-kikaku" >
<% when "オフ会" %>
<div class="sample-box-offkai" >

  <!-- フォラーム関係  -->
  <% when "挨拶" %>
  <div class="sample-box-aisatu" >
  <% when "会議" %>
  <div class="sample-box-kaigi" >
  <% when "雑談" %>
  <div class="sample-box-zatudan" >

<% end %>


<%#= page_entries_info(@nichijou_novels) %>




<table class="table table-striped table-hover hidari-yohaku5">
  <thead>
    <tr>

      <!-- <th>
       ジャンル
      </th> -->
      <!-- <th>
       新/過
      </th> -->
      <th>
        <% if Novel.genre_list_ssses_1.include?(genre_shurui) %>
       タイトル
       <% else %>
       トピック
       <% end %>
      </th>

      <!-- うるまさんが居ない時にイフ追加  -->
      <% if controller.action_name != "user_about" %>
      <th>
       著者
     </th>
     <% end %>

     <th>
       投稿日時
     </th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% i=0 %>
    <% novels.each do |novel| %>
      <tr data-href="<%= sss_url(novel) %>">

        <!-- <td>
          <%= novel.genre %>
        </td> -->
        <!-- <td>
          <% if novel.past_work %>
          <span>過去</span>
          <% else %>
          <span style="font-weight:bold">新作</span>
          <% end %>

        </td> -->
        <td>
         <%= novel.title.truncate(20)  %>
        </td>

        <!-- うるまさんが居ない時にイフ追加  -->
        <!-- <%# if controller.action_name != "user_about" %> -->
        <td>
          <!-- <%# if @nichijou_users[i].deleted %>
          <a href="<%#= ssses_user_about_url %>?user_id=<%=novel.user_id%>">退会済み</a>


          <%# else %> -->
         <a href="<%= ssses_user_about_url %>?user_id=<%=novel.user_id%>"><%= novel.sakushamei.truncate(14)  %></a>
         <!-- <%# end %> -->
         </td>
        <!-- <%# end %> -->


   <%# i += 1 %>

        <td>
         <%= novel.toukouhiduke.to_s(:compact_day)  %>
        </td>

        <!-- <% if  user_signed_in? && novel.user_id == current_user.id  %>
        <td class="novel btn btn-success">  <%= link_to '編集', edit_sss_path(novel) %></td>
        <td class="novel btn btn-danger">  <%= link_to '削除', sss_path(novel) , method: :delete, data: { confirm: '削除してもよろしいでしょうか?' } %></td>
        <% end %> -->
      </tr>
    <% end %>



  </tbody>
</table>
<!-- <br/> -->
<!-- 追加箇所開始 -->
<!-- <div class="center"> -->
<%#= paginate @nichijou_novels %>
<!-- </div> -->
<% case genre_shurui %>
<% when "日常" %>
<%= link_to "　もっと読む・・・",ssses_ichiran_path(genre:"日常"),style:"text-decoration:none" %>
<% when "恋愛" %>
<%= link_to "　もっと読む・・・",ssses_ichiran_path(genre:"恋愛"),style:"text-decoration:none" %>
<% when "ジョーク" %>
<%= link_to "　もっと読む・・・",ssses_ichiran_path(genre:"ジョーク"),style:"text-decoration:none" %>
<% when "シリーズ" %>
<%= link_to "　もっと読む・・・",ssses_ichiran_path(genre:"シリーズ"),style:"text-decoration:none" %>
<% when "同タイトル" %>
<%= link_to "　もっと読む・・・",ssses_ichiran_path(genre:"同タイトル"),style:"text-decoration:none" %>
<% end %>

</div>
</div>

<% end %>
