<% unless @nichijou_novels.empty? %>

<div class="sample-box-nichijou" >


<div class="hidari-yohaku5">
<%#= page_entries_info(@nichijou_novels) %>
&nbsp;直近５作品のみ。<%= link_to "一覧",ssses_ichiran_path(genre:"日常"),class: "btn btn-xs btn-primary"%>で全てを表示。
</div>


<table class="table table-striped table-hover hidari-yohaku5">
  <thead>
    <tr>

      <!-- <th>
       ジャンル
      </th> -->
      <th>
       新/過
      </th>
      <th>
       タイトル
      </th>

      <!-- うるまさんが居ない時にイフ追加  -->
      <% if controller.action_name != "user_about" %>
      <th>
       著者
     </th>
     <% end %>

     <th>
       投稿日時
     </th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% i=0 %>
    <% @nichijou_novels.each do |novel| %>
      <tr data-href="<%= sss_url(novel) %>">

        <!-- <td>
          <%= novel.genre %>
        </td> -->
        <td>
          <% if novel.past_work %>
          <span>過去</span>
          <% else %>
          <span style="font-weight:bold">新作</span>
          <% end %>

        </td>
        <td>
         <%= novel.title.truncate(20)  %>
        </td>

        <!-- うるまさんが居ない時にイフ追加  -->
        <% if controller.action_name != "user_about" %>
        <td>
          <% if @nichijou_users[i].deleted %>
          <a href="<%= ssses_user_about_url %>?user_id=<%=novel.user_id%>">退会済み</a>


          <% else %>
         <a href="<%= ssses_user_about_url %>?user_id=<%=novel.user_id%>"><%= novel.sakushamei.truncate(14)  %></a>
         <% end %>
         </td>
        <% end %>


   <% i += 1 %>

        <td>
         <%= novel.toukouhiduke.to_s(:compact_day)  %>
        </td>

        <!-- <% if  user_signed_in? && novel.user_id == current_user.id  %>
        <td class="novel btn btn-success">  <%= link_to '編集', edit_sss_path(novel) %></td>
        <td class="novel btn btn-danger">  <%= link_to '削除', sss_path(novel) , method: :delete, data: { confirm: '削除してもよろしいでしょうか?' } %></td>
        <% end %> -->
      </tr>
    <% end %>
  </tbody>
</table>
<!-- <br/> -->
<!-- 追加箇所開始 -->
<!-- <div class="center"> -->
<%#= paginate @nichijou_novels %>
<!-- </div> -->

</div>

<% end %>
