<div class="container">
  <h2><strong  style="background: linear-gradient(transparent 60%, #ffff66 60%);" id="scroll_1">1. 超短編小説会について</strong></h2>
  <p>(1) 超短編小説会とは、超短編（掌編）の小説を投稿したり読んで感想を書いたりする場所です。</p>
  <p>(2) このサイトは、前身の「超短編小説会」の理念を引き継ぎ、 「作家さん同士のコミュニケーション」を主な目的としたサイトです。</p>
  <p>(3) 投稿作品は、３０００字以内を目安にお願いします。</p>
  <p>(4) 連続投稿はなるべく避けるようにしてください。他の作家さんの作品を尊重しながら活動しましょう。</p>
  </div>
