<table class="table table-striped table-hover hidari-yohaku5">
  <thead>
    <tr>
      <th>
        ジャンル
      </th>
      <th>
        タイトル
      </th>
      <th>
        投稿日時
      </th>
      <th colspan="3" style="border-bottom:none"></th>
    </tr>
  </thead>
  <tbody>

    <% novels.each do |novel| %>
    <tr data-href="<%= ssses_show_user_about_novel_url(novel) %>">
      <td>
        <%= novel.genre %>
      </td>
      <td>
        <%= novel.title.truncate(20)  %>
      </td>

      <td>
        <%= novel.toukouhiduke.to_s(:compact_day)  %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
