<% unless @sinsaku_novels.empty? && @past_work_novels.empty? %>
<div class="container">

  <div class="hidari-yohaku5" style="padding:5px;margin:10px 0 10px 0;">
    <h1><%= params[:genre] %>全覧</h1>
    <ul class="nav nav-tabs">

      <li class="active"><a href="#home" data-toggle="tab" aria-expanded="true" style="font-size:18px">新作</a></li>
      <li><a href="#profile" data-toggle="tab" aria-expanded="true" style="font-size:18px">過去作</a></li>
    </ul>



    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade active in" id="home">

      <%= render "ssses/zenran",novels:@sinsaku_novels %>

      </div>

      <div class="tab-pane fade" id="profile">

      <%= render "ssses/zenran",novels:@past_work_novels %>

      </div>
    </div>



  </div>

</div>
<% end %>
