
<% if notice %>
<div class="container">
<p id="notice1"><%= notice %></p>
</div>
<% end %>

<!-- <script type="text/javascript">
$(document).snowfall({
	flakeCount :3,			// 数
	flakeColor :'#ffffff',			// 色
	flakeIndex : 99999,			// スタイルシートのz-indexの値
	maxSpeed : 2,				// 最大速度
	minSpeed : 1,				// 最小速度
	maxSize  : 8,				// 最大サイズ
	minSize  : 5,				// 最小サイズ
});
</script> -->



<%= render "layouts/navi_short_short_story" %>

<%= render 'ssses/site_about' %>

<%= render 'ssses/koukai_shousetu' %>

<%#= render 'ssses/aisatu_shoukai' %>

<%= render "news/list" %>

<%= render 'ssses/ivent' %>

<%= render 'ssses/communication' %>

<%= render 'ssses/kaiin_list' %>




<!-- 追加箇所終了 -->


<!-- <div class="col-md-8 col-md-offset-2">
  <div class="line"></div>
</div> -->

<!-- <div class="container" style="margin-top:15px;margin-bottom:15px">
  <h1>読んだ本の感想を読む</h1>


    <%#= link_to "読んだ本の感想を読む",ssses_shousetukansous_path,class: "btn btn-warning" %>


</div> -->

<!-- <div class="col-md-8 col-md-offset-2">
  <div class="line"></div>
</div> -->

<!-- <div class="container">
  <h1>所属チーム</h1>
  <div class="bs-component">
    <ul class="nav nav-pills nav-stacked">
      <li class="active"><%= link_to "超短編小説会",ssses_path,{style:"font-size:20px" } %></li>
      <li><a href="#">サンプルチームA</a></li>
      <li><a href="#">サンプルチームB</a></li>

    </ul>
  </div>
</div> -->
