<p id="notice"><%= notice %></p>
<div class="container">

  <ul class ="pager">
<% if @novel.past_work == false  %>
  <li>  <%= link_to "お部屋に戻る", ssses_user_about_path(user_id:@novel.user_id) %></li>
      &nbsp; &nbsp; &nbsp;
  <li>  <%= link_to "←前", ssses_show_user_about_novel_path(@novel.show_user_about_novel_previous) if @novel.show_user_about_novel_previous %></li>
    &nbsp; &nbsp; &nbsp;
  <li> <%= link_to '後→', ssses_show_user_about_novel_path(@novel.show_user_about_novel_next) if @novel.show_user_about_novel_next %></li>

<% elsif @novel.past_work == true  %>
  <li>  <%= link_to "お部屋に戻る", ssses_user_about_path(user_id:@novel.user_id) %></li>
      &nbsp; &nbsp; &nbsp;
  <li>  <%= link_to "←前", ssses_show_user_about_novel_path(@novel.show_user_about_past_work_novel_previous) if @novel.show_user_about_past_work_novel_previous %></li>
    &nbsp; &nbsp; &nbsp;
  <li> <%= link_to '後→', ssses_show_user_about_novel_path(@novel.show_user_about_past_work_novel_next) if @novel.show_user_about_past_work_novel_next %></li>
<% end %>

  </ul>


  <div class="text-center opacity">

<% if browser.device.mobile? %>
<h1 style="text-align:left">

    <%= @novel.title %>

</h1>
<%else %>
  <h1>

    <%= @novel.title %>

  </h1>
<% end %>

<%= @novel.genre2_list.each do |tag| %>
<p><%= tag %></p>
<% end %>

</div>
<div class="text-left opacity">
  <li>
    <span id="txtnum"><%= mojibetu @novel.honbun %></span>
  </li>
  <li>
  <%= @novel.genre %>
</li>
<li>
<%= @novel.toukouhiduke.to_s(:compact_day)%>
</li>

<br/>
<li class="author">
  <%# if @user.blank? %>
  <!-- 著者：<a href="<%#= ssses_user_about_url %>?user_id=<%#=@novel.user_id%>"><%#= current_user.user_about.name %></a>


  <%# elsif @user.deleted == true %>
  著者：<a href="<%#= ssses_user_about_url %>?user_id=<%#=@novel.user_id%>">退会済み</a>
  <%# elsif  @user.deleted == false %> -->
  著者：<a href="<%= ssses_user_about_url %>?user_id=<%=@novel.user_id%>"><%= @novel.sakushamei %></a>
  <%# end %>
</li>

</div>

<div class="line space-choi novel-line"></div>

<p class="honbun" style="word-wrap:break-word; overflow: auto;">
<%= br(@novel.honbun) %>
</p>
<div style = "float:right">【投稿者：<%= @novel.sakushamei %>】</div>
<br/>


<ul class ="pager">
<% if @novel.past_work == false  %>
<li>  <%= link_to "お部屋に戻る", ssses_user_about_path(user_id:@novel.user_id) %></li>
    &nbsp; &nbsp; &nbsp;
<li>  <%= link_to "←前", ssses_show_user_about_novel_path(@novel.show_user_about_novel_previous) if @novel.show_user_about_novel_previous %></li>
  &nbsp; &nbsp; &nbsp;
<li> <%= link_to '後→', ssses_show_user_about_novel_path(@novel.show_user_about_novel_next) if @novel.show_user_about_novel_next %></li>

<% elsif @novel.past_work == true  %>
<li>  <%= link_to "お部屋に戻る", ssses_user_about_path(user_id:@novel.user_id) %></li>
    &nbsp; &nbsp; &nbsp;
<li>  <%= link_to "←前", ssses_show_user_about_novel_path(@novel.show_user_about_past_work_novel_previous) if @novel.show_user_about_past_work_novel_previous %></li>
  &nbsp; &nbsp; &nbsp;
<li> <%= link_to '後→', ssses_show_user_about_novel_path(@novel.show_user_about_past_work_novel_next) if @novel.show_user_about_past_work_novel_next %></li>
<% end %>

</ul>

<% if controller.action_name == "show" || controller.action_name == "comment_create"  %>

<% if user_signed_in? %>
  <% if @novel.user_id == current_user.id %>

  <div class="btn btn-success btn-success2">
    <%= link_to '編集', edit_sss_path(@novel) %>
  </div>

  <div class="novel btn btn-danger">
    <%= link_to '削除', sss_path(@novel) , method: :delete, data: { confirm: '削除してもよろしいでしょうか?' } %>
  </div>

    <% end %>
    <% end %>

    <div class="btn btn-info">
    <%= link_to '一覧に戻る', ssses_path %>
</div>



  <% if @comments.present? %>
  <p class="comment-ichiran"> コメント一覧　</p>
  <div class="space-choi line novel-line"></div>
  <% end %>

    <% i=1 %>
    <ol class="media-list">
      <% @comments.each do |comment| %>
      <!-- <div class="comment-kannren"> -->
      <li class="media">
        <span><%= i %>.</span>
        <% if comment.user.deleted == true %>
        <a class="media-left" href="<%= ssses_user_about_url %>?user_id=<%=comment.user_id%>"><%= image_tag("gaikotu.png",:size => "50x50") %></a>



        <div class="media-body">
        <h4 class="media-heading">
        <strong>
        <a href="<%= ssses_user_about_url %>?user_id=<%=comment.user_id%>">退会済み</a>

        <% else %>
        <a class="media-left" href="<%= ssses_user_about_url %>?user_id=<%=comment.user_id%>"><%= profile_img(comment.user.user_about) %></a>
        <div class="media-body">
          <h4 class="media-heading">
            <strong>
              <a href="<%= ssses_user_about_url %>?user_id=<%=comment.user_id%>">
                <%= comment.user.user_about.name %>
                </a>
        <% end %>
          </strong>
        </h4>
          <p style="width:100%; display:table; table-layout:fixed; font-size:18px; word-wrap:break-word; overflow-wrap : break-word;overflow: auto;"><%= br(comment.body) %></p>
        </div>
        <br />
        <!-- コメント編集未実装  -->
        <% if user_signed_in? && comment.user == current_user %>
        <span><%= link_to 'コメント編集', sss_path(comment.novel_id,comment_id:comment.id),:class=>"btn btn-xs btn-info" %></span>
        <% end %>

        <% if user_signed_in? && comment.user == current_user %>
        <span><%= link_to 'コメント削除', comment_path(comment,docchi:"sss"), method: :delete,data: { confirm: '削除してもよろしいでしょうか?' },:class=>"btn btn-xs btn-danger" %></span>
        <% end %>
      </li>
      <!-- </div> -->
      <% i +=1 %>
      <% end %>
    </ol>



    <% if user_signed_in? %>
    <%= render 'ssses/comment_form' %>
    <% end %>


  <% end %>

  <% if @comments.present? %>
  <p class="comment-ichiran"> コメント一覧　</p>
  <div class="space-choi line novel-line"></div>
  <% end %>

    <% i=1 %>
    <ol class="media-list">
      <% @comments.each do |comment| %>
      <!-- <div class="comment-kannren"> -->
      <li class="media">
        <span><%= i %>.</span>
        <% if comment.user.deleted == true %>
        <a class="media-left" href="<%= ssses_user_about_url %>?user_id=<%=comment.user_id%>"><%= image_tag("gaikotu.png",:size => "50x50") %></a>



        <div class="media-body">
        <h4 class="media-heading">
        <strong>
        <a href="<%= ssses_user_about_url %>?user_id=<%=comment.user_id%>">退会済み</a>

        <% else %>
        <a class="media-left" href="<%= ssses_user_about_url %>?user_id=<%=comment.user_id%>"><%= profile_img(comment.user.user_about) %></a>
        <div class="media-body">
          <h4 class="media-heading">
            <strong>
              <a href="<%= ssses_user_about_url %>?user_id=<%=comment.user_id%>">
                <%= comment.user.user_about.name %>
                </a>
        <% end %>
          </strong>
        </h4>
          <p style="width:100%; display:table; table-layout:fixed; font-size:18px; word-wrap:break-word; overflow-wrap : break-word;overflow: auto;"><%= br(comment.body) %></p>
        </div>
        <br />
        <!-- コメント編集未実装  -->
        <% if user_signed_in? && comment.user == current_user %>
        <span><%= link_to 'コメント編集', ssses_show_user_about_novel_path(comment.novel_id,comment_id:comment.id),:class=>"btn btn-xs btn-info" %></span>
        <% end %>

        <% if user_signed_in? && comment.user == current_user %>
        <span><%= link_to 'コメント削除', comment_path(comment,docchi:"sss_user_about"), method: :delete,data: { confirm: '削除してもよろしいでしょうか?' },:class=>"btn btn-xs btn-danger" %></span>
        <% end %>
      </li>
      <!-- </div> -->
      <% i +=1 %>
      <% end %>
    </ol>



    <% if user_signed_in? %>
    <%= render 'ssses/comment_form' %>
    <% end %>




</div>
</div>
