<% if @user_about.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@user_about.errors.count, "error") %> prohibited this novel from being saved:</h2>
  <ul>
    <% @user_about.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<% if flash[:notice] || flash[:alert] %>
<%= bootstrap_flash %>
<% end %>

<% if user_signed_in? && current_user.id.to_s == params[:user_id] && current_user.user_about == nil %>

<h2 class="center"> このサイトでの、あなたのお名前は？ </h2>
<p class="center"> ＊本サイトではフェイスブックやツイッターでの名前は、表示させないよ＊　</p>

<div class="container top-bottom-space">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="devise-bs">
      </div>
      <div class="panel-body">
        <%= render "ssses/user_about_form" %>
      </div>
    </div>
  </div>
</div>

<% else %>
<% if !@user_about.name.blank? %>
  <% if flash[:notice] == "名前登録成功です！" %>
   <div class="center">
     <%= image_tag("tourokukanryou.jpg",:size => "300x300") %>
     <h2><%="ようこそ！ #{@user_about.name}さん楽しんでね♪" %></h2>
   </div>
   <div class="line"></div>
  <% end %>

<div class="container">

  <% if user_signed_in? && @user_about == current_user.user_about  %>
   <h2 class="center"><%= "自分 (#{@user_about.name}）の部屋"%> </h2>
   <% else %>
   <h2 class="center"><%= "#{@user_about.name} さんの部屋"%> </h2>
  <% end %>


<% if browser.device.mobile? %>
<table style="margin-left: auto; margin-right: auto;" class="center table-condensed table-bordered table-responsive">
<% else %>
<table style="margin-left: auto; margin-right: auto;" class="center table table-bordered">
<% end %>

<tr><th class="center" style="font-size:20px;font-weight:normal;">名前</th>
  <td style="font-size:20px;"><%= @user_about.name %></td><tr>

<tr><th class="center" style="font-size:20px;font-weight:normal;">性別</th>
  <td style="font-size:20px"><%= @user_about.gender %></td><tr>
<tr><th class="center" style="font-size:20px;font-weight:normal;">住所</th>
  <td style="font-size:20px"><% a=JpPrefecture::Prefecture.find(@user_about.locale) %>
  <% if user_signed_in? &&@user_about.user_id == current_user.id %>


  <!-- アクションの切り替え機能 -->
  <% if controller.action_name == "new"   %>
  <% action = "create_user_about" %>
  <% else %>
  <% action = "update_user_about" %>
  <% end %>

  <!-- ここで、コントローラーのパラメーターとしてsssesを、アクションのパラメーターとしてcreateかアップデートを渡す  -->
  <%=form_for([@user,@user_about],:url => { :controller => :ssses, :action => action }) do |f| %>

  <div class="form-group">
    <%= f.collection_select :locale, JpPrefecture::Prefecture.all, :code, :name %>
  </div>
  <%= f.submit "変更する" %>
  <% end %>

  <% else %>
  <%= a.name %>
  <% end %>



  <tr><th class="center" style="font-size:20px;font-weight:normal;">画像</th>
  <td>


<%=form_for([@user,@user_about],:url => { :controller => :ssses, :action => action }) do |f| %>

<% if @user_about.image.present? %>
<%= image_tag(@user_about.image.to_s) %>
<% elsif @user.image_url.present? %>
<%= image_tag(@user.image.to_s) %>
<% else %>
<%= image_tag("ikebana.png") %>
<% end %>

 <% if user_signed_in? && current_user == @user %>
 <%#= f.label :image,"画　像",:class => "col-lg-2 control-label" %>
 <%= f.file_field :image,:label=>"　画　像", :id=>"files"  %>
 <%= f.submit "変更する" %>
 <% end %>

<% end %>


</td>
</table>

</div>


<% comments = [] %>

<% if user_signed_in? && current_user.user_about == @user_about && @novels_tukurikake != nil %>
<h1 class="center"><%= "作成中の小説"%> </h1>
<%= render 'ssses/novels',novels:@novels_tukurikake,comments:@comments_tukurikake,tukurikake:true %>
<% end %>

<div class="container">
<%#= render 'user_abouts/novels',novels:@novels,comments:@comments,tukurikake:false %>
<%= render 'ssses/novels_user_about' %>
<%#= render 'ssses/koukai_shousetu' %>

<%#= render 'shousetukansous/shousetukansous_list' %>
</div>

<% else %>
<div class="center">
  <%= image_tag("nopperabou.jpg") %>
  <h2> いないいないばあ </h2>
</div>
<% end %>

<% end %>
