
<div class="container">


  
<%= form_for(@new) do |f| %>
  <% if @new.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@new.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @new.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
  <%= f.label :title,"タイトル"%><br/>
  <% if browser.device.mobile? %>
  <%= f.text_field :title %>
  <% else %>
  <%= f.text_field :title,style: "width:100%" %>
  <% end %>
  </div>

  <div class="form-group">
  <%= f.label :body,"お知らせ内容"%><br/>
  <% if browser.device.mobile? %>
  <%= f.text_area :body ,:style =>"width:100%;height:400px",:id=>"count" %>
  <% else %>
  <%= f.text_area :body,:style =>"width:100%;height:700px",:id=>"count" %>
  <% end %>
  </div>

  <div class="form-group">
  <%= f.label :expired_at,"掲載期限"%><br/>
  <%= f.datetime_select(
    :expired_at,
    end_year:          (Time.now.year + 100),
    )  %>


  </div>

  <% if params[:category] == "ssses" %>
  <%= f.hidden_field :category, :value => params[:category] %>
  <% end %>

  <div class="actions">
    <%= f.submit "お知らせ発信" %>
  </div>
<% end %>

</div>
