<div class="container" >
  <div class="update" style="font-size:18px">
    <h2><strong id="scroll_3">1. お知らせ</strong></h2>
<h3><strong id="scroll_3">
</br>
平素は超短編小説会をご利用いただきありがとうございます。</br></br>
さて、以前は無料で本サイトを運用できていましたが、ちょうど１年前ぐらいから月１０＄かかるようになりました。
この有料は、HEROKUと言うサービスを運用していた大会社Salesforceの方針転換によるものです。
世知辛い世の中になりましたが、会社は利益を産むためのもの。
よくよく考えると、今まで無料で出来ていたのがある摩訶不思議であり、今回、有料に切り替わったことは当然の成り行きとも思えます。
で、私としては月１０＄の有料は正直痛いが、「本サイトはみんなの遊び場所。守りたい！」、と言う思いから、１年ばかし月１０＄を支払い続けてきました。
ちょっと設定料金が高いが、ソコはみんなのために・・・・（くどいし、恩着せがましい笑）</br></br>
さあーさあー、話は続きますよ。</br></br>
そんな中、ある日、どんぶらこー・どんぶらこー、とイーロン○スクなるケッタイなオッチャンが「X」の紋章の黒船に乗ってやってきました。
２０２３年６月頃でしたか、その身勝手なオッちゃんの独裁的な行いにより、突然、本サイトに再ログイン出来なくなりました。
もっとも次のように月１００＄ほど払って出来そうだけど、</strong></h3>
<%= image_tag("mask.png",class: "img-responsive",width: "90%") %>
<h3><strong id="scroll_3"></br>
そのとおり！実は本サイトはツイッターを利用した認証システムでログインする仕組みだったのです。
まあ、そう言ったことで、HEROKUの月１０＄の支払いなら何とか持ち堪えていたが、オッチャンの会社「twitter」ならぬ「X」のためにさらに＋月１００＄も追加で払うことになると話は別です。</br></br>
「おいおい、勘弁してくれよー！　いくらなんでも毎月１１０＄も払えるかよ！！」である。😡</br></br>
長らくご愛顧いただいていた本サイトもいよいよ、閉幕することになりました。断腸の思いであります。</br></br>
それではみんな、達者でな！風邪引くなよー！　（＞＜）／サラバ　</br></br></br>
敬具 ２０２３　KENIO
</br>
</br>
</br>
</br>
</br>
おっとと　忘れていました。いけないいけない・・・・
</br>実は、本サイトリニューアルすることになりました。😁「はよ言えや！」って話であるが、もったいつけてみました。😁
</br></br>こちらが新しいサイトのリンク先です。</strong></h3>
<a href="http://choutanpen-shumi.com/wordpress/" target="_blank">ここをクリックすると飛びます。</a>
<h3><strong id="scroll_3"></br>
</br>新サイトはワードプレスってサイトの機能で作りました。今回は、なかまくらさんが主にサイトを作りました。（けにおも、多少は手伝った！）
</br>
</br>あとなあ、本サイト（ワードプレスの新サイトやのうて、今いるHEROKUのサイトの方な）は本当に店仕舞いにするんで、もし必要なら、今のウチに自分の小説をコピペするなり保存しときやー
</br>あとになって、「無くなった。復活させろー！俺の小説返せー！」とか言われても、もう出来ひんでー！泣こうが喚こうが、もう知らんでー！
</br>本サイト（ワードプレスの新サイトやのうて、今いるHEROKUのサイトの方な）は２０２４年２月いっぱいや思うとってやー！
</br>それまでに自分の作った小説をコピペして、どっか例えばワードなんかに保存しとくんやでー！
</br>ここ大事なんで、もっかい言うとく！もし自分が作った小説を残したいなら、２０２４年２月までに自分の小説をコピペして自分のパソコン内なんかに保存すんねんでー！ええな！😎

</br></br>では、再会✋
</br></br>
</strong></h3>

    <% if current_admin_user %>
    <div><%= link_to "お知らせの作成",new_news_path(from:@params,category: "ssses"),:class => "btn btn-success" %></div>
    <% end %>

    <div class="hidari-yohaku5" style="padding:5px;margin:10px 0 10px 0;">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#now_news" data-toggle="tab" aria-expanded="true" style="font-size:18px">現在NEWS</a></li>
        <li><a href="#old_news" data-toggle="tab" aria-expanded="true" style="font-size:18px">過去NEWS</a></li>
        <li><a href="#ivent" data-toggle="tab" aria-expanded="true" style="font-size:18px">イヴェント</a></li>

      </ul>

      <div id="myTabContent" class="tab-content">

        <div class="tab-pane fade active in" id="now_news">
          <%= render 'news/news_nakami',news:@now_news %>
        </div>
        <div class="tab-pane fade" id="old_news">
          <%= render 'news/news_nakami',news:@old_news %>
        </div>

        <div class="tab-pane fade" id="ivent">
          <%= render 'news/ivent_nakami',ivents:@ivents %>
        </div>

      </div>
    </div>

  </div>

</div>
