<% news.each do |f| %>
<dt><%= f.created_at.strftime('%Y/%m/%d')  %></dt>
<dd style="margin-bottom:10px;"><a href="javascript:void(0);" data-toggle="popover" data-html="true" data-placement="bottom" data-content= "<%= f.body %>" ><%= f.title %></a>
  &nbsp;
  <% if current_admin_user %>
  <%= link_to '編集', edit_news_path(f),class:"btn btn-info" %>
  <%= link_to '削除', news_path(f) , method: :delete, data: { confirm: '削除してもよろしいでしょうか?' },class:"btn btn-danger" %>
  <% end %>
</dd>
<% end %>
