<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <strong>タイトル:</strong>
  <%= @new.title %>
</p>

<p>
  <strong>ニュース内容:</strong>
  <%= @new.body %>
</p>

<% if current_admin_user %>
<%= link_to '編集', edit_news_path(@new) %> |
<%= link_to '戻る', ssses_path %>
<% end %>

</div>
