<%= form_for(novel) do |f| %>
  <% if novel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(novel.errors.count, "error") %> prohibited this novel from being saved:</h2>

      <ul>
      <% novel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if params[:preview_button] %>
  <!-- || !@novel.save  -->
  <%= render 'novels/show_nakami' %>
  <% end %>

  <div class="well bs-component">
  <div class="form-horizontal">
    <div class="form-group">
    <%= f.label :genre,"ジャンル名" ,:class => "col-lg-2 control-label" %>
    <%= f.select :genre, Novel.genre_list,:class => "form-control" %>
    </div>
    <div class="form-group">
    <%= f.label :title,"タイトル名" ,:class => "col-lg-2 control-label" %>

    <% if browser.device.mobile? %>
    <%= f.text_field :title,:style =>"width:100%" %>
    <% else %>
    <%= f.text_field :title,:class => "col-lg-offset-2",:style =>"width:80%" %>
    <% end %>
    </div>

    <div class="form-group">
    <!-- <%= f.label :sakushamei,"著者",:class => "col-lg-2 control-label" %> -->
    <%= f.hidden_field :sakushamei, :value => current_user.user_about.name %>
    <!-- <%= current_user.user_about.name  %> -->
    </div>

    <div class="form-group">
    <%= f.label :honbun,"中身　　　" ,:class => "col-lg-2 control-label" %>
    <% if browser.device.mobile? %>
    <%= f.text_area :honbun ,:style =>"width:100%;height:400px",:id=>"count" %>
    <% else %>
    <%= f.text_area :honbun ,:class => "col-lg-offset-2",:style =>"width:80%;height:700px",:id=>"count" %>
    <% end %>

    <% if !novel.honbun.nil? %>
    <p class="col-lg-2">現在の文字数：<span id="txtnum2"><%= novel.honbun.gsub(/(\r\n|\r|\n)+|(\s|　)+/,"").length %></span></p>
    <% else %>
    <p class="col-lg-2">現在の文字数：<span id="txtnum2">0</span></p>
    <% end %>
    </div>

    <div class="form-group">
    <div class="col-lg-10 col-lg-offset-2">
     <%= f.submit_tag "投稿前のご確認",name:"preview_button" %>
    </div>
    </div>


   <% if params[:preview_button] %>
   <% if @novel.flag == false %>
   <div class="form-group">
   <div class="col-lg-10 col-lg-offset-2">
     <%= f.submit_tag "下書き保存",name:"sitagaki" %>
    </div>
    </div>
  <% end %>



   <div class="form-group">
   <div class="col-lg-10 col-lg-offset-2">
    <%= f.submit "公開する" %>
   </div>
    <% end %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>

<% end %>
    </div>
    </div>
