<div class="container">

<h1>小説発表</h1>

<!-- 追加箇所開始 -->
<div class="hidari-yohaku5">
<%= page_entries_info(@novels) %>
</div>
<!-- 追加箇所終了 -->

<table class="table table-striped table-hover hidari-yohaku5">
  <thead>
    <tr>
      <th>
       文字数
      </th>
      <th>
       ジャンル
      </th>
      <th>
       タイトル
      </th>
      <th>
       著者
     </th>
       <th>
        コメ
       </th>
     <th>
       投稿日時
     </th>
     <th>
       修正日時
     </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% i=0 %>
    <% @novels.each do |novel| %>
      <tr>
        <td>
          <%= mojibetu novel.honbun  %>
        </td>
        <td>
          <%= novel.genre %>
        </td>
        <td>
         <%= link_to novel.title.truncate(20),novel  %>
        </td>

        <td>
          <% if @users[i].deleted %>
          <a href= "<%= user_user_about_url(novel.user_id,novel.user.user_about.id)%>">退会済み</a>
          <% else %>
         <a href= "<%= user_user_about_url(novel.user_id,novel.user.user_about.id)%>"><%= user_name(novel.user).html_safe  %></a>
         <% end %>
        </td>

        <td>
         <%= link_to @comments[i].count,novel %>
       </td>

   <% i += 1 %>

        <td>
         <%= novel.toukouhiduke.to_s(:compact_day)  %>
        </td>
        <td>
           <% if novel.created_at == novel.updated_at %>
            −
           <% else %>
           <%= novel.updated_at.to_s(:compact_day)  %>
           <% end %>
        </td>


        <td class="novel btn btn-success">  <%= link_to '見る', novel %></td>
        <% if  user_signed_in? && novel.user_id == current_user.id  %>
        <td class="novel btn btn-success">  <%= link_to '編集', edit_novel_path(novel) %></td>
        <td class="novel btn btn-success">  <%= link_to '削除', novel, method: :delete, data: { confirm: '削除してもよろしいでしょうか?' } %></td>
        <% end %>


      </tr>
    <% end %>
  </tbody>
</table>

<br/>
<!-- 追加箇所開始 -->
<div class="center">
<%= paginate @novels %>
</div>

<% unless controller.controller_name == 'user_abouts' && controller.action_name == 'show' %>
<br/>
<% if user_signed_in?  %>
 <% if !current_user.user_about.nil?  %>
 <p class="bs-component">
 <%= link_to '小説を書いてみる', new_novel_path,:class => "btn btn-primary" %>
</p>
 <% end %>
<% end %>
<% end %>
</div>
