<p id="notice"><%= notice %></p>
<div class="container">
  <div class="text-center opacity">

<% if browser.device.mobile? %>
<h1 style="text-align:left">
  <%= @novel.title %>
</h1>
<%else %>
  <h1>
    <%= @novel.title %>
  </h1>
<% end %>

</div>
<div class="text-left opacity">
  <li>
    <span id="txtnum"><%= mojibetu @novel.honbun %></span>
  </li>
  <li>
  <%= @novel.genre %>
</li>

<br/>
<li class="author">
  <% if @user.blank? %>
  著者：<a href= "<%= user_user_about_url(current_user.id,current_user.user_about.id) %>"><%= user_name(current_user).html_safe %></a>
  <% elsif @user.deleted == true %>
  著者：<a href= "<%= user_user_about_url(@user.id,@user_about.id) %>">退会済み</a>
  <% elsif  @user.deleted == false %>
  著者：<a href= "<%= user_user_about_url(@user.id,@user_about.id) %>"><%= user_name(@novel.user).html_safe %></a>
  <% end %>
</li>

</div>

<div class="line space-choi novel-line"></div>

<p class="honbun">
<%= br(@novel.honbun) %>
</p>
<div style = "float:right">【投稿者：<%= user_name(@novel.user).html_safe %>】</div>
<br/>
<% if controller.action_name == "show" || (controller.controller_name == "comments" && controller.action_name == "create" ) %>

<% if user_signed_in? %>
  <% if @novel.user_id == current_user.id %>
  <div class="btn btn-success btn-success2">
    <%= link_to '編集', edit_novel_path(@novel) %>
  </div>
    <% end %>
    <% end %>
    <div class="btn btn-success btn-success2">
    <%= link_to '一覧に戻る', novels_path %>
</div>

  <p class="comment-ichiran"> コメント一覧　</p>

  <div class="space-choi line novel-line"></div>


    <% i=1 %>
    <ol class="media-list">
      <% @comments.each do |comment| %>
      <!-- <div class="comment-kannren"> -->
      <li class="media">
        <span><%= i %>.</span>
        <% if comment.user.deleted == true %>
        <a class="media-left" href= "<%= user_user_about_url(comment.user_id,comment.user.user_about.id) %>"><%= image_tag("gaikotu.png",:size => "50x50") %></a>
        <div class="media-body">
        <h4 class="media-heading">
        <strong>
        <a href= "<%= user_user_about_url(comment.user_id,comment.user.user_about.id)%>">退会済み</a>

        <% else %>
        <a class="media-left" href= "<%= user_user_about_url(comment.user_id,comment.user.user_about.id) %>"><%= profile_img(comment.user.user_about) %></a>
        <div class="media-body">
          <h4 class="media-heading">
            <strong>
              <a href= "<%= user_user_about_url(comment.user_id,comment.user.user_about.id)%>">
                <%= comment.user.user_about.name %>
                </a>
        <% end %>
          </strong>
        </h4>
          <p style="font-size:18px"><%= br(comment.body) %></p>
        </div>
        <br />
        <!-- <% if user_signed_in? && comment.user == current_user %>
        <p><%= link_to 'コメント削除', comment_path(comment), method: :delete,:class=>"btn btn-xs btn-danger" %></p>
        <% end %> -->
      </li>
      <!-- </div> -->
      <% i +=1 %>
      <% end %>
    </ol>

    <% if user_signed_in? %>
    <%= render 'comments/form' %>
    <% end %>


  <% end %>
</div>
</div>
