<p id="notice"><%= notice %></p>


  <div class="container">
  <h1>所属チーム</h1>

  <div class=" col-lg-3 col-md-4 col-sm-6 space-top col-xs-12">
    <div class="relative">

      <%= link_to image_tag("ssses.jpg",:style=>"width:100%;height:auto;",:class=>"hoverImg img-responsive"),ssses_path %>

      <!-- <p class="post-title"><a style="font-weight:bold" href="/posts/72">1日一回ありがとうを言われる</a></p> -->
      <h3><%= link_to "超短編小説会",ssses_path %></h3>
    </div>
  </div>

  <div class=" col-lg-3 col-md-4 col-sm-6 space-top col-xs-12">
    <div class="relative">

      <%= link_to image_tag("ssses.jpg",:style=>"width:100%;height:auto;",:class=>"hoverImg img-responsive"),ssses_path %>

      <!-- <p class="post-title"><a style="font-weight:bold" href="/posts/72">1日一回ありがとうを言われる</a></p> -->
      <h3><%= link_to "短編小説バトル",ssses_path %></h3>
    </div>
  </div>

    <!-- <div class="bs-component">
            <ul class="nav nav-pills nav-stacked">
              <li class="active"><%#= link_to "超短編小説会",:ssses,{style:"font-size:20px" } %></li>
              <li><a href="#">サンプルチームA</a></li>
              <li><a href="#">サンプルチームB</a></li>



            </ul>
          </div> -->
  </div>

  <div class="col-md-8 col-md-offset-2">
    <div class="line"></div>
  </div>

<%= render 'novels/koukai_shousetu' %>
<!-- 追加箇所終了 -->


<div class="col-md-8 col-md-offset-2">
  <div class="line"></div>
</div>

 <%#= render 'shousetukansous/shousetukansous_list' %>
