<% if user_signed_in?  %>
<% if !current_user.user_about.nil?  %>

<%= form_for(@shousetukansou,:html => {:multipart => true}) do |f| %>

<% if shousetukansou.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(shousetukansou.errors.count, "error") %> prohibited this shousetukansou from being saved:</h2>

  <ul>
    <% shousetukansou.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>


<div class="well bs-component">
  <div class="form-horizontal">
    <div id="insert-image" class="form-group">

      <!-- 発火は　app/assets/javascripts/jquery.uploadThumbs.jsにて書いている -->
      <%# if browser.device.mobile? %>

      <%= image_tag @shousetukansou.image.to_s,:id=>"preview",:class=>"img-responsive"  if @shousetukansou.image? %>

      <%# else %>
      <%#= image_tag @shousetukansou.image_url(:thumb)  if @shousetukansou.image? %>
      <%# end %>

      <%= f.label :image,"画　像",:class => "col-lg-2 control-label" %>
      <%= f.file_field :image,:label=>"　画　像", :id=>"files"  %>

      <%#= f.input :image,:label=>"　画　像",as: :image_preview, input_html: { preview_version: :thumb,:id=>"files"},:type=>"file",:name=>"files[]",:multiple=>"multiple"  %>
    </div>

    <div class="form-group">
      <%= f.label :shoseki,"本　名",:class => "col-lg-2 control-label"  %>
      <%= f.text_field :shoseki %>
    </div>

    <div class="form-group",>
      <%= f.label :chosha,"著　者",:class => "col-lg-2 control-label"  %>
      <%= f.text_field :chosha %>
    </div>

    <div class="form-group">
      <%= f.label :shuppansha,"出版社",:class => "col-lg-2 control-label" %>
      <%= f.text_field :shuppansha %>
    </div>




    <div class="form-group">
      <%= f.label :comment,"感　想",:class => "col-lg-2 control-label"  %>
      <% if browser.device.mobile? %>
      <%= f.text_area :comment,:style =>"width:100%;height:200px" %>
      <% else %>
      <%= f.text_area :comment,:class=>"col-lg-offset-2" ,:style =>"width:80%;height:200px" %>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :hyouka,"評　価",:class => "col-lg-2 control-label"  %>
      <%= f.text_field :hyouka %>
    </div>

    <%= f.hidden_field :label, :value => @label %>

    <%= f.hidden_field :user_id, :value => current_user.id %>

    <div class="actions">
      <%= f.submit %>
    </div>

    <% end %>

    <% else %>
    <p> 名前を登録しないと、できないぞ　</p>
    <% end %>
    <% else %>
    <p> ログインしないと、できないぞ　</p>
    <% end %>


  </div>
    </div>
