<div class="container">
  <h1>小説感想</h1>


  <div class="hidari-yohaku5">
    <%= page_entries_info(@shousetukansous) %>
  </div>

  <table class="table table-striped table-hover hidari-yohaku5">
    <thead>
      <tr>
        <th>画像</th>
        <th>出版社</th>
        <th>著者</th>
        <th>本名</th>
        <th>評価</th>
        <th>名前</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @shousetukansous.each do |shousetukansou| %>
      <tr>
        <td><%= link_to image_tag(shousetukansou.image.to_s,shousetukansou %></td>
        <td><%= shousetukansou.shuppansha %></td>
        <td><%= shousetukansou.chosha %></td>
        <td><%= shousetukansou.shoseki %></td>
        <td><%= shousetukansou.hyouka %></td>
        <td>
          <% if shousetukansou.user.deleted %>
          <a href= "<%= user_user_about_url(shousetukansou.user_id,shousetukansou.user.user_about.id)%>">退会済み</a>
          <% else %>
          <a href= "<%= user_user_about_url(shousetukansou.user_id,shousetukansou.user.user_about.id)%>"><%= shousetukansou.user.user_about.name.truncate(8)  %></a>
          <% end %>
        </td>
        <td class="novel btn btn-success"><%= link_to '見る', shousetukansou %></td>
        <% if  user_signed_in? && shousetukansou.user_id == current_user.id  %>
        <td class="novel btn btn-success"><%= link_to '編集', edit_shousetukansou_path(shousetukansou) %></td>
        <td class="novel btn btn-success"><%= link_to '削除', shousetukansou, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <div class="center">
    <%= paginate @shousetukansous %>
  </div>



  <% unless controller.controller_name == 'user_abouts' && controller.action_name == 'show' %>
  <% if user_signed_in?  && !current_user.user_about.nil?  %>
  <div style="margin-bottom:10px">
    <% if controller.controller_name == "ssses" %>
    <%= link_to '読んだ小説の感想を書く', new_shousetukansou_path(label:"sss"),:class => "btn btn-primary"  %>

    <% else %>
    <%= link_to '読んだ小説の感想を書く', new_shousetukansou_path,:class => "btn btn-primary"  %>
    <% end %>
  </div>
  <% end %>
  <% end %>
</div>
