
<div class="container">

  <p id="notice"><%= notice %></p>
  <div class="opacity">
  <h2>
    <strong>本名:</strong>
      <%= @shousetukansou.shoseki %>
  </h2>
  </div>

  <div class="opacity">
  <h2>
    <strong>著者:</strong>
    <%= @shousetukansou.chosha %>
  </h2>
  </div>

<p>
<% if browser.device.mobile? %>
<%= image_tag @shousetukansou.image.to_s,:style=>"width:100%;height:auto;" %>
<% else %>
<%= image_tag @shousetukansou.image.to_s %>
<% end %>
</p>


<p style="font-size:15px">
  <strong>出版社:</strong>
  <%= @shousetukansou.shuppansha %>
</p>

<p style="font-size:15px">
  <strong>感想者:</strong>
  <% if @user.blank? %>
  <a href= "<%= user_user_about_url(current_user.id,current_user.user_about.id) %>"><%= current_user.user_about.name %></a>
  <% elsif @user.deleted == true %>
  <a href= "<%= user_user_about_url(@user.id,@user_about.id) %>">退会済み</a>
  <% elsif  @user.deleted == false %>
  <a href= "<%= user_user_about_url(@user.id,@user_about.id) %>"><%= @shousetukansou.user.user_about.name  %></a>
  <% end %>
</p>

<p style="font-size:15px">
  <strong>感想:</strong>
  <%= br(@shousetukansou.comment) %>
</p>

<p style="font-size:15px">
  <strong>評価:</strong>
  <%= @shousetukansou.hyouka %>
</p>


<% if  user_signed_in? && @shousetukansou.user_id == current_user.id  %>
<%= link_to '編集', edit_shousetukansou_path(@shousetukansou) %>
<% end %>
<%= link_to '戻る', novels_path %>
