<!-- <p id="notice"><%#= notice %></p>

<%#= render "shousetukansous_list" %>

<div style="margin-bottom:10px">
<%# if user_signed_in?  && !current_user.user_about.nil?  %>
<%#= link_to '読んだ小説の感想を書く', new_shousetukansou_path,:class => "btn btn-primary"  %>
<%# end %>
</div> -->
