<!-- <h2><%= t('.sign_in', :default => "Sign in") %></h2> -->

<div class="row top-space">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default devise-bs">
        <div class="panel-heading">
          <h4>ログイン</h4>
        </div>
        <div class="panel-body text-center">
          <div class="space-top space-bottom">

          <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: "form" }) do |f| %>
                    <div class="form-group">
                      <%= f.label :email %>
                      <%= f.email_field :email, autofocus: true, class: "form-control" %>
                    </div>
                    <div class="form-group">
                      <%= f.label :password %>
                      <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
                    </div>
                    <% if devise_mapping.rememberable? %>
                    <div class="checkbox">
                      <%= f.label :remember_me do %>
                      <%= f.check_box :remember_me %>ログインを記憶する
                      <% end %>
                    </div>
                    <% end %>
                    <p class="text-center"><%= f.submit  t('.sign_in', :default => "Sign in"), class: "btn btn-blue" %></p>
                    <% end %>

          </div>
        </div>

        </div>
      </div>
    </div>
