<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h1><%= user_name(@you_user_about.user).html_safe %>さんとの　Chat room</h1>



    <div id="messages">
      <% @messages.each do |message| %>

      <% if message[1] == @my_user_about.user_id %>
      <!--右からの吹き出し-->
      <div class="kaiwa">
        <figure class="kaiwa-img-right">


          <%= image_tag(@my_image_url) %>


          <figcaption class="kaiwa-img-description">
            <!-- /////////名前//////////// -->
          </figcaption>
        </figure>
        <div class="kaiwa-text-left">
            <!-- Pタグ付き、改行付き、デザインは吹き出し -->
          <%= simple_format(h(message[2]),class:"kaiwa-text") %>
            <!-- /////////チャットの内容//////////// -->
        </div>
      </div>
      <% else %>
      <!--左からの吹き出し-->
      <div class="kaiwa">
        <figure class="kaiwa-img-left">

          <%= image_tag(@you_image_url) %>

          <figcaption class="kaiwa-img-description">
            <!-- /////////名前//////////// -->
          </figcaption>
        </figure>
        <div class="kaiwa-text-right">
          <%= simple_format(h(message[2]),class:"kaiwa-text") %>
            <!-- /////////チャットの内容//////////// -->

        </div>
      </div>
      <% end %>
      <% end %>
    </div>

    <div id="send_messages">

    </div>


    <div id="recieve_messages">

    </div>

    <form>
      <div>
        <label><%= @you_user_about.name %>さんへのメッセージを入力</label><br>
        <!-- <input type="text" data-behavior="room_speaker"> -->
        <textarea class="form-control" rows="5" placeholder="メッセージを書いてください" data-behavior="room_speaker"></textarea>
        <input type="hidden" name="sender_id" value="<%= current_user.id %>">
        <input type="hidden" name="receiver_id" value="<%= params[:user_id] %>">
        <!-- <input type="button" id="message-submit" value="送信"> -->
        <div style="width: 10%;margin: 30px auto; ">
        <button type="button" class="btn btn-default" id="message-submit" style="color:black!important">送信</button>
        </div>
      </div>
    </form>

  </div>
</div>
