/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require jquery.tagit
*= require tagit.ui-zendesk
*= require font-awesome
*= require_self
*/
@import "bootstrap-sprockets";
@import "honoka";

.col-lg-10{
  padding-left:0px;
}

h1 {text-align: center;font-size: 36px;}



.jumbotron {
  padding-top :100px;
  padding-bottom: 100px;
  text-align: center;
  color: white;
  p{
    line-height: 1.2;
  }
}

.index {
  background: url(main.jpg) center no-repeat;
  background-size: cover;
}

.ssses-index {
  background: url(015_01.JPG);
  background-size: cover;
}
//
// .ssses-koukai-shousetu {
//   background: url(034_04.JPG) center no-repeat;
//   background-size: cover;
// }
//
//
.layerTransparent{
	background-color:rgba(255,255,255,0.001);
}
.frontContents{
	color:					#000;
}

.space-top {
  margin-top: 5%;
}

.space-migi {
  margin-right: 5%;
}

.center {
  text-align: center;
}

.btn-blue {
  color: #fff;
  background-color: #232F3E;
}

#footer {
  color: #fff;
  font-weight: normal;
  text-align: center;
  padding: 10px;
  background: #232F3E;
}

// devise　の登録画面内のボタンのCッS
.btn-fb {
  color: #ffffff;
  background-color: #3B5998;
}

.btn-twitter{
  color: #ffffff;
  background-color: #55acee;
}


// .novel a{
//   color: #fff !important;}
//   .novel a:visited{
//     color: #CCCCCC !important;
//   }
//
//
//
//
//
.btn, .btn:visited{
color: #fff!important;
}
//
// .btn-success2{
//   background-color: #FFFFFF !important;
// }

.navbar {
  margin-bottom: 0px;
}

.top-space{
  margin-top:20px;
}

.header-name{
  margin-left:50px!important;
  color :#ffc0cb!important;
}

.header-chuui{
  margin-left:20px!important;
  color :#dc143c!important;
}

.hidari-yohaku5{
  margin-left:5px;
}

#akai {
  color :red;
}

/* form */
input[type="submit"] {
  @extend .btn;
  @extend .btn-primary;
  margin-top: 20px;
  margin-bottom: 20px;
}

// .thumb {
//   height: 600px;
//   border: 1px solid #000;
//   margin: 10px 5px 0 0;
// }


form img.thumb {
    margin:100px 5px 100px 0;
    max-width:600px;
    vertical-align:bottom;
}



a:hover img.hoverImg{
display:block;
opacity:0.8;
 filter:alpha(opacity=80);
-ms-filter: “alpha( opacity=80 )”;
}

// 行を選択した時の変化
tbody tr.clickable:hover td {
    background: #FAFAD2;
    cursor: pointer;

}

// 行を選択した時の変化
.kiiroigai tr.clickable:hover td {
    background: black;
    cursor: pointer;

}

// チェックボックス用
.checkbox {
  display: none;
}
.checkbox + .checkbox-icon {
  position: relative;
  vertical-align: middle;
}
.checkbox + .checkbox-icon:before {
  content: "\f372";
  font-family: "Ionicons";
  color: #ccc;
  font-size: 22px;
}
.checkbox:checked + .checkbox-icon:before {
  content: "\f374";
  color: #17bcdf;
}


// 枠

.sample-box-nichijou {
  // background-color: #fff;
    border: 2px solid #B8860B;
    border-radius: 4px;
    // // margin-top: 2em;

    padding: 1em 1em 1em 0em;;
    position: relative;
}
.sample-box-nichijou::before {
    background-color: #fdf7fa;
    color: #B8860B;
    content: "日常";
    font-weight: bold;
    left: 1em;
    padding: 0 .5em;
    position: absolute;
    top: -1em;
}

.sample-box-renai {
  // background-color: #fff;
    border: 2px solid #B8860B;
    border-radius: 4px;
    // margin-top: 2em;
    padding: 1em 1em 1em 0em;;
    position: relative;
}
.sample-box-renai::before {
    background-color: #fdf7fa;
    color: #B8860B;
    content: "恋愛";
    font-weight: bold;
    left: 1em;
    padding: 0 .5em;
    position: absolute;
    top: -1em;
}

.sample-box-joke {
  // background-color: #fff;
    border: 2px solid #B8860B;
    border-radius: 4px;
    // margin-top: 2em;
    padding: 1em 1em 1em 0em;;
    position: relative;
}
.sample-box-joke::before {
    background-color:	#fdf7fa;
    color: #B8860B;
    content: "ジョーク";
    font-weight: bold;
    left: 1em;
    padding: 0 .5em;
    position: absolute;
    top: -1em;
}



.sample-box-siri {
  // background-color: #fff;
    border: 2px solid #B8860B;
    border-radius: 4px;
    // margin-top: 2em;
    padding: 1em 1em 1em 0em;;
    position: relative;
}
.sample-box-siri::before {
    background-color:	#fdf7fa;
    color: #B8860B;
    content: "シリーズ";
    font-weight: bold;
    left: 1em;
    padding: 0 .5em;
    position: absolute;
    top: -1em;
}

.sample-box-doutai {
  // background-color: #fff;
    border: 2px solid #b89572;
    border-radius: 4px;
    // margin-top: 2em;
    padding: 1em 1em 1em 0em;;
    position: relative;
}
.sample-box-doutai::before {
    background-color:	#fdf7fa;

    content: "同タイトル";
    font-weight: bold;
    left: 1em;
    padding: 0 .5em;
    position: absolute;
    top: -1em;
}

.sample-box-sandai {
  // background-color: #fff;
    border: 2px solid #b89572;
    border-radius: 4px;
    // margin-top: 2em;
    padding: 1em 1em 1em 0em;;
    position: relative;
}
.sample-box-sandai::before {
    background-color:	#fdf7fa;

    content: "三題噺";
    font-weight: bold;
    left: 1em;
    padding: 0 .5em;
    position: absolute;
    top: -1em;
}


.sample-box-nabetani {
  // background-color: #fff;
    border: 2px solid #b89572;
    border-radius: 4px;
    // margin-top: 2em;
    padding: 1em 1em 1em 0em;;
    position: relative;
}
.sample-box-nabetani::before {
    background-color:	#fdf7fa;

    content: "鍋谷さんの娘さん";
    font-weight: bold;
    left: 1em;
    padding: 0 .5em;
    position: absolute;
    top: -1em;
}

.sample-box-tukurikake {
  // background-color: #fff;
    border: 2px solid #b89572;
    border-radius: 4px;
    // margin-top: 2em;
    padding: 1em 1em 1em 0em;;
    position: relative;
}
.sample-box-tukurikake::before {
    background-color:	#fdf7fa;

    content: "(依頼)作りかけ作品を完成してください！";
    font-weight: bold;
    left: 1em;
    padding: 0 .5em;
    position: absolute;
    top: -1em;
}

.sample-box-maturi {
  // background-color: #fff;
    border: 2px solid #b89572;
    border-radius: 4px;
    // margin-top: 2em;
    padding: 1em 1em 1em 0em;;
    position: relative;
}
.sample-box-maturi::before {
    background-color:	#fdf7fa;

    content: "祭り";
    font-weight: bold;
    left: 1em;
    padding: 0 .5em;
    position: absolute;
    top: -1em;
}

.sample-box-kotoshino-maturi {
  // background-color: #fff;
    border: 4px solid #FF0000;
    border-radius: 4px;
    // margin-top: 2em;
    padding: 1em 1em 1em 0em;;
    position: relative;
}
.sample-box-kotoshino-maturi::before {
    background-color:	#fdf7fa;

    content: "今年の祭り";
    font-weight: bold;
    left: 1em;
    padding: 0 .5em;
    position: absolute;
    top: -1em;
}

.sample-box-user_about_novels {
  // background-color: #fff;
    border: 2px solid #B8860B;
    border-radius: 4px;
    // margin-top: 2em;
    padding: 1em 1em 1em 0em;;
    position: relative;
}
.sample-box-user_about_novels::before  {
    background-color: #723838;
    color: #B8860B;
    content: "著書全覧";
    font-weight: bold;
    left: 1em;
    padding: 0 .5em;
    position: absolute;
    top: -1em;
}





.sample-box-ivent {
  // background-color: #fff;
    border: 2px solid #e272e2;
    border-radius: 4px;
    // margin-top: 2em;
    padding: 1em 1em 1em 0em;;
    position: relative;
}
.sample-box-ivent::before  {
    background-color: #fdf7fa;
    color: #e272e2;
    content: "イベント開催";
    font-weight: bold;
    left: 1em;
    padding: 0 .5em;
    position: absolute;
    top: -1em;
}


.sample-box-kikaku {
  // background-color: #fff;
    border: 2px solid #e272e2;
    border-radius: 4px;
    // margin-top: 2em;
    padding: 1em 1em 1em 0em;;
    position: relative;
}
.sample-box-kikaku::before  {
    background-color: #fdf7fa;
    color: #e272e2;
    content: "イベント企画";
    font-weight: bold;
    left: 1em;
    padding: 0 .5em;
    position: absolute;
    top: -1em;
}


.sample-box-offkai {
  // background-color: #fff;
    border: 2px solid #e272e2;
    border-radius: 4px;
    // margin-top: 2em;
    padding: 1em 1em 1em 0em;;
    position: relative;
}
.sample-box-offkai::before  {
    background-color: #fdf7fa;
    color: #e272e2;
    content: "オフ会";
    font-weight: bold;
    left: 1em;
    padding: 0 .5em;
    position: absolute;
    top: -1em;
}

.sample-box-aisatu {
  // background-color: #fff;
    border: 2px solid #2b552b;
    border-radius: 4px;
    // margin-top: 2em;
    padding: 1em 1em 1em 0em;;
    position: relative;
}
.sample-box-aisatu::before  {
    background-color: #f9f9f9;
    color: #2b552b;
    content: "挨拶(トピックで挨拶すると上に表示)";
    font-weight: bold;
    left: 1em;
    padding: 0 .5em;
    position: absolute;
    top: -1em;
}

.sample-box-zatudan {
  // background-color: #fff;
    border: 2px solid #2b552b;
    border-radius: 4px;
    // margin-top: 2em;
    padding: 1em 1em 1em 0em;;
    position: relative;
}
.sample-box-zatudan::before  {
    background-color: #f9f9f9;
    color: #2b552b;
    content: "雑談";
    font-weight: bold;
    left: 1em;
    padding: 0 .5em;
    position: absolute;
    top: -1em;
}

.sample-box-kaigi {
  // background-color: #fff;
    border: 2px solid #2b552b;
    border-radius: 4px;
    // margin-top: 2em;
    padding: 1em 1em 1em 0em;;
    position: relative;
}
.sample-box-kaigi::before  {
    background-color: #f9f9f9;
    color: #2b552b;
    content: "会議";
    font-weight: bold;
    left: 1em;
    padding: 0 .5em;
    position: absolute;
    top: -1em;
}


// 可愛い枠
.sample-box-12 {
    border: 4px solid #2b552b;
    border-radius: 240px 15px 185px 15px / 15px 200px 15px 185px;
    margin: 2em 0;
    position: relative;
    padding-top:1em;
    padding-bottom:2em;
}
// .sample-box-12::before {
//   content: "先月と今月のご挨拶<";
//   left: 1em;
//   padding: 0 .5em;
//   position: absolute;
// }




#notice1{
  font-size:20px;
  padding-top:20px;
  background-color: yellow;
}

// お知らせかっこよく

/* --- 新着情報エリア --- */
div.update {
width: 100%; /* 新着情報エリアの幅 */
font-size: 80%;
}

/* --- 見出し --- */
div.update h3 {
margin: 0 0 5px; /* 見出しのマージン（上、左右、下） */
font-size: 100%;
}

/* --- 新着リスト --- */
div.update dl {
width: 100%; /* 新着リストの幅 */
height: 170px; /* 新着リストの高さ */
overflow: auto;
margin: 0;
background-color: #FAEBD7; /* 新着リストの背景色 */
border-top: 1px #c0c0c0 dotted; /* 新着リストの上境界線 */
border-bottom: 1px #c0c0c0 dotted; /* 新着リストの下境界線 */
}

/* --- 日付エリア --- */
div.update dt {
width: 6.7em; /* 日付エリアの幅 */
float: left;
padding: 7px 0 6px 3px; /* 日付エリアのパディング（上右下左） */
line-height: 120%;
}

/* --- 本文エリア --- */
div.update dd {
margin: 0;
padding: 7px 3px 6px 8em; /* 本文エリアのパディング（上右下左） */
border-bottom: 1px #c0c0c0 dotted; /* 本文エリアの下境界線 */
line-height: 120%;
}

/* --- clearfix --- */
.clearFix:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
.clearFix {
min-height: 1px;
}


// .nav-tabs {
//     background-color:none;
//
// }


/* =====================
	電光掲示板
======================= */
.ledText {
    overflow: hidden;
    position: relative;
    padding:25px 0 25px 0;
    margin:20px 0 0 0;
    color: #FFB400;
    font-size: 40px;
    font-weight: bold;
    background: #333333;
}

/* CSS3グラデーションでドット感を出す */
.ledText:after {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(#0a0600 1px, transparent 0px), linear-gradient(0, #0a0600 1px, transparent 1px);
	background-image: -webkit-linear-gradient(#0a0600 1px, transparent 0px), -webkit-linear-gradient(0, #0a0600 1px, transparent 1px);
	background-size: 2px 2px;
    z-index: 10;
}

/* CSS3アニメーションでスクロール */
.ledText span {
	display: inline-block;
	white-space: nowrap;
	padding-left: 100%;
	-webkit-animation-name: marquee;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-duration: 10000s;
	-moz-animation-name: marquee;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;
	-moz-animation-duration: 10000s;
	animation-name: marquee;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-duration: 10000s;
}

@-webkit-keyframes marquee {
  from   { -webkit-transform: translate(0%);}
  99%,to { -webkit-transform: translate(-100%);}
}
@-moz-keyframes marquee {
  from   { -moz-transform: translate(0%);}
  99%,to { -moz-transform: translate(-100%);}
}
@keyframes marquee {
  from   { transform: translate(0%);}
  99%,to { transform: translate(-100%);}
}

// 固定ヘッダーのため

// genre-columnの実装

.genre-column{
 width: 47%;
 margin-left: 1%;
 margin-right:2%;
}

// すまほ表示用
@media screen and (max-width: 767px) {
  form img.thumb {
      margin:50px 5px 50px 0;
      max-width:300px;
  }
  .genre-column{
   width: 97%;
   margin-left: 1%;
   margin-right:2%;
  }
}

// 祭り用の掲示
.box29 {
    margin: 2em 0;
    background: #e6e600;
}
.box29 .box-title {
    font-size: 1.2em;
    background: #4d4d00;
    padding: 4px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.05em;
}
.box29 .box-margin {
    padding: 15px 20px;
    margin: 0;
}

.mail-kensu{
  position: absolute;
  top: 8px;
  right: -3px;
  background-color: red;
  border-radius: 50%;
  padding: 5px 10px;
}

.profile_image{
  height:70px;
  width:auto;
}
