// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.line {
    border-bottom: 1px solid rgba(159,165,202,0.24);
}

.description {
    font-size: 16px;
    font-weight: normal;
}



.start-travel {
    text-align: left;
}

// a {
    // color: #fff !important;
// }
