// Place all the styles related to the Novels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.honbun {
  font-size:20px!important;
  line-height: 1.5;
}

.nonspace{
  padding-left:0px!important;
}

.text-left{
h1{
text-align: left;
}
}

.opacity{
li {
  display: inline-block;
  margin-right: 20px;
  color:#555;
  opacity: .7;
}
}

.author{
  a{
    color: #028d79!important;
  }
}

.space-choi{
  margin:20px 0;
}

.novel-line{
  border-color: black;
  opacity: .7;
}

.comment-ichiran{
  margin:20px 0;
  font-size:18px;
  font-weight: bold;
}

.comment-kannren{
  font-size: 18px;
  overflow: hidden;
}

.form-group{
  font-size:20px;
}
