// Place all the styles related to the ssses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.non_read{
  color:red;
  // 親要素として位置を指定したrelativeに対して、absoluteの小要素をつけることで、位置を指定できる。
  position:absolute;
  left:-20px;
}
