// Place all the styles related to the user_abouts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.author{
  a{
    color: #028d79!important;
  }
}
