<div class="container">
<form>
  <%= hidden_field_tag :id, @ikebana.id %>
  <%= label_tag 'ikebanas[title]', "題名" %>
  <%= text_field_tag 'ikebanas[title]',@ikebana.title %>

  <%= file_field_tag 'ikebanas[image]' %>

  <%= label_tag 'ikebanas[message]', "作者からのコメント" %>
  <%= text_field_tag 'ikebanas[message]',@ikebana.message %>
  <div id="flower_select_area">
    <% if controller.action_name == "new" || controller.action_name == "create" %>
    <%= select_tag 'ikebanas[flower][0]', options_for_select(@flower_contents),{include_blank:true,class:"flower_name"} %>
    <% else %>
       <% @ikebana.flowers.each_with_index do |flower,i| %>
         <%= select_tag "ikebanas[flower][#{i}]", options_for_select(@flower_contents,selected: flower.name),{include_blank:true,class:"flower_name"} %>
       <% end %>
       <!-- animals.each_with_index {|anim, i| puts "#{i+1}. #{anim}" } -->
    <% end %>
  </div>
  <%= link_to "#",class: "btn btn-default",id:"add-select",style:"color:black !important;" do %>
  <i class="fa fa-plus" aria-hidden="true"></i>
  <% end %>

  <div id="crop_area_box">
    <% source = @ikebana.image ? @ikebana.image_url : '' %>
    <img id = "crop_image" src = "<%= source %>"/ style="width: 100%;">
  </div>
  <div id="crop_preview" style="width:300px;height:300px"></div>
  <%= button_tag :submit, :id => "submit" %>
</form>
</div>
<style>
  #crop_area_box {
    display: block;
    width: 600px;
    height:600px;
    overflow: hidden;
  }
</style>
