<div class="row" style="display: flex;flex-wrap: wrap;">
  <% @ikebanas.each do |ikebana| %>
  <div class="col-md-4 col-xs-12" style="margin-bottom:20px">
    <%= link_to ikebana do %>
      <%= image_tag(ikebana.image_url,class:"img-responsive") %>
      <%= profile_img(ikebana.user.user_about,20) %>
      <%= ikebana.user.user_about.name %>
      『<%= ikebana.title %>』
    <% end %>
  </div>
  <% end %>
</div>
