<div class="container">
<h2><strong id="scroll_1">1. 生け花サイトについて</strong></h2>

<div class="hidari-yohaku5" style="padding:5px;margin:10px 0 10px 0;">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#gaiyou" data-toggle="tab" aria-expanded="true" style="font-size:18px">概要</a></li>
    <li><a href="#kousei" data-toggle="tab" aria-expanded="true" style="font-size:18px">構成</a></li>
    <li><a href="#riyoukiyaku" data-toggle="tab" aria-expanded="true" style="font-size:18px">利用規約</a></li>
    <li><a href="#rekishi" data-toggle="tab" aria-expanded="true" style="font-size:18px">歴史</a></li>
    <li><a href="#unnyou" data-toggle="tab" aria-expanded="true" style="font-size:18px">運用</a></li>
  </ul>

  <div id="myTabContent" class="tab-content" style="padding:20px 0 0 10px;">
<div class="tab-pane fade active in" id="gaiyou">
  <p>(1) このサイトは生けた生け花の作品を投稿し、感想を書いたりする場所です。</p>
  <p>(2) 「花道家さん同士のコミュニケーション」を主な目的としたサイトです。</p>
  <p>(3) 作品は、写真と作品名と出来れば花材を含めてください。</p>
  <p>(5) 投稿された作品の著作権は、作品を生けた人に帰属します。</p>
  <p>(6) 会員登録にはツイッター認証を採用しており、ツイッターへのユーザー登録が必要となります。</p>
</div>

<div class="tab-pane" id="kousei">
  <p>「1. 超短編小説会について」：<br/>　　このサイトのいろいろが書いてあるところ。</p>
  <p>「2. 小説」：<br/>　　通常の小説。小説を書いたり、読んだりするところ。</p>
  <p>「3. お知らせ」：<br/>　　管理者やぷろぐらまからのお知らせ。</p>
  <p>「4. イヴェント」：<br/>　　イヴェントを企画したり、イヴェントに参加したり、イヴェント作品を書いたり・読んだりするところ。</p>
  <p>「5.コミュニケーション」：<br/>　　挨拶したり、雑談したり、チャットの窓口があるところ。</p>
</div>

<div class="tab-pane fade" id="riyoukiyaku">
  <p>(1) このサイトは、全年齢の利用者によるコミュニティサイトを目指しています。公俗良序に反する作品の投稿はおやめください。</p>

  <p>(2) 他者の創作物からの多量の引用等により、投稿者個人の創作物との判断が難しい作品の投稿はおやめください。</p>

  <p>(3) 特定の団体、個人に対する誹謗中傷を目的とした作品の投稿はおやめください。</p>

  <p>(4) 個人情報を公開するなど、他者に対して不利益となるような作品の投稿はおやめください。</p>

  <p>(5) 犯罪の告白や予告など、日本国の法律に抵触するような作品の投稿はおやめください。</p>

  <p>(6) 個人の他者の有する著作権を侵害するような２次創作作品の投稿はご遠慮ください（著作権者からの親告があった場合には、該当する作品の公開を停止させていただきます）。</p>
</div>

<div class="tab-pane fade" id="rekishi">
  <p>割と古くからある。</p>
</div>

<div class="tab-pane fade" id="unnyou">
  <p>・運用：皆さん</p>
  <p>・管理者：なかまくらさん</p>
  <p>・副管理者：爪楊枝さん</p>
  <p>・ぷろぐらま：けにお２１</p>
</div>

  </div>
</div>




</div>
