
<% if notice %>
<p id="notice1" style="background-color:yellow;margin: 0 0 0px;vertical-align:middle;text-align: center;padding-bottom:20px"><%= notice %></p>
<% end %>
<div class="container">

  <div class="container" style="margin-top:20px">
    <%= link_to new_ikebana_path, class: "btn btn-success" do %>
    <%= image_tag("ikabana_hasami.png",:size => "50x50") %>
    <span style="font-size: 14px;">生け花作品　投稿する</span>
    <% end %>
  </div>

  <%= render 'ikebanas/site_about' %>

  <%= render "news/list" %>

  <%= render "ikebanas/ichiran" %>



  <%#= render 'ssses/koukai_shousetu' %>

  <%#= render 'ssses/ivent' %>

  <%#= render 'ssses/communication' %>

  <%#= render 'ssses/kaiin_list' %>

</div>
