<p id="notice"><%= notice %></p>
<div class="container">
  <div class="text-center opacity">
    <h1 style="text-align:left">
      <%= @ikebana.title %>
    </h1>

    <div>
      <%= image_tag @ikebana.image.to_s , class:"img-responsive" %>
    </div>
    <div>
      <%= @ikebana.message %>
    </div>
    <div>
      <% @ikebana.flowers.each do |flower| %>
      <%= link_to flower.name , "#" ,class:"btn btn-default btn-sm",style:"color:black !important;"%>
      <% end %>
    </div>
    <div style = "float:right">
      【投稿者：<%= user_name(@ikebana.user).html_safe %>】
    </div>
    <div style = "float:right">
      <%= @ikebana.created_at.to_s(:compact_day)%>
    </div>
<div class="row" style="clear:both">
<%= link_to '編集', edit_ikebana_path(@ikebana) %> |
<%= link_to '戻る', ikebanas_path %>
</div>
</div>
</div>
