<div class="container">
<h2> <%= user_name(@user).html_safe %>さんの投票結果！ </h2>

<table class="table stripe-table table-striped table-hover hidari-yohaku5">
  <thead>
    <tr>
      <th>
        正解・不正解
      </th>
      <th>
        作品名
      </th>
      <th>
        予想作者
      </th>
      <th>
        正解作者
      </th>
    </tr>
  </thead>

  <tbody>
    <% @votes.each do |vote| %>
    <% novel = Novel.find(vote.novel_id) %>
    <tr>
      <td>
        <% if novel.user_id == vote.writer_id  %>
        ◯
        <% else %>
        ×
        <% end %>
      </td>
      <td>
        <%= novel.title %>
      </td>
      <td>
        <%= user_name(vote.writer).html_safe %>
      </td>
      <td>
        <% if novel.user_id != vote.writer_id %>
        <%= user_name(novel.user).html_safe %>
        <% end %>
      </td>

    </tr>
    <% end %>
  </tbody>
</table>
</div>
