<% if !browser.device.mobile? && controller.action_name == "index"  %>
<nav style="  background-color:	#725538;border-color:white;padding-top:50px;" class="navbar-inverse zettai-header">
  <% else %>
  <nav style="  background-color:	#725538;border-color:white;" class="navbar-inverse zettai-header">
    <% end %>
    <div class="container">

      <div class="navbar-header" id="scroll_0">
        <!--ブランド名 ロゴ名の表示-->
        <a class="navbar-brand" href="<%= ssses_url %>">超短編小説会</a>


        <% if user_signed_in?  %>
        <% if !current_user.user_about.nil?  %>
        <!-- <div class="navbar-brand header-name"> -->
        <a class="navbar-brand" style="margin-left:15px" href= "<%= ssses_user_about_url %>">
          <%#= ssses_profile_img(current_user.user_about) %>
        </a>
        <a class="navbar-brand" style="color:LawnGreen;font-size:15px;" href="<%= ssses_user_about_url %>?user_id=<%= current_user.user_about.user_id%>">
          <%= "#{user_name(current_user)}".html_safe %> の部屋
        </a>


        <!-- </div> -->

        <!--  9/10　うるまさんなしでやってみる  -->
        <% if @message_notice && @message_notice >= 1 %>
          <%= link_to ssses_message_ichiran_path,class:"navbar-brand",:style=>"position: relative;" do %>
            <!-- <span class="mail-kensu"> <%= @message_notice %></span> -->
            <%= image_tag('message_ari.png') %>
          <% end %>
        <% else %>
          <%= link_to image_tag('message_nasi.png'), ssses_message_ichiran_path,class:"navbar-brand" %>
        <% end %>

        <% if user_signed_in?  %>
        <span class="navbar-brand">
          <%= link_to new_sss_path(past_work_flag:false) do %>
          <%= image_tag("pen.png",:size => "30x30") %>
          <span style="font-size: 14px;">通常新作投稿</span>
          <% end %>
        </span>
        <% end %>


        <% else %>
        <div class="navbar-brand header-chuui">
          まだ登録は完了してないよ、お手数ですが名前登録を！
        </div>
        <% end %>

        <% end %>

        <!--トグルボタンの設置-->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-content">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div id="nav-content" class="collapse navbar-collapse navbar-right">
        <!--リンクのリスト メニューリスト-->
        <ul class="nav navbar-nav">
          <% if !user_signed_in?  %>
          <li><a href="<%= user_twitter_omniauth_authorize_url %>">ログイン/登録</a></li>
          <% else %>
          <% if current_user.user_about %>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"><%= user_name(current_user).html_safe %>さん <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "ユーザー削除", registration_path(current_user), :data => { :confirm => t('退会することになりますよ？', :default => "#{current_user.user_about.name}さん！！OKボタンを押すと、このサイトから退会することになりますよ(TT)。万一、誤って退会ボタンを押したのであれば、キャンセルで引き返してくださいませ！")}, :method => :delete %></li>
              <% else %>
              <li><%= link_to "名付ける", ssses_user_about_path(:user_id => current_user.id)  %></li>
              <% end %>
              <li><%= link_to "ログアウト", destroy_user_session_path,:method=>:delete %> </li>
              <% end %>
            </ul>
          </li>


        </ul>

      </div>




    </div>
    <% if user_signed_in? && @comment_notices.present?  %>
    <div class="container">
      <ul>
        <% @comment_notices.each do |comment_notice| %>
        <li>
          <a style="color:#FFFF00;" href="<%= sss_url(comment_notice.comment.novel) %>?notice=true"><%= comment_notice.comment.novel.title %>に<%= CommentNotice.where(novel_id: comment_notice.comment.novel_id, read_flag: false).where.not(user_id: current_user.id).count %>件のコメントがありました。</a>
        </li>
        <% end %>
      </ul>
    </div>
    <% end  %>
  </nav>
