<nav class="navbar navbar-inverse zettai-header">
  <div class="container">
    <div class="navbar-header">
      <!--ブランド名 ロゴ名の表示-->
      <a class="navbar-brand" href="/">私の趣味、みんなの趣味</a>

      <a class="navbar-brand" href="<%= kirikae_header_url %>" ><%= kirikae_header_moji %></a>


      <% if user_signed_in?  %>
      <% if current_user.user_about.present?  %>
      <!-- <div class="navbar-brand header-name"> -->

      <a class="navbar-brand" style="color:LawnGreen;font-size:15px;" href= "<%= user_user_abouts_url(current_user.id) %>">
        <%= "#{truncate(current_user.user_about.name,:length=>8)}" %> 管理</a>
          <%= profile_img(current_user.user_about) %>
        <!-- </div> -->
        <% else %>
        <div class="navbar-brand header-chuui">
          まだ登録は完了してないよ、お手数ですが名前登録を！
        </div>
        <% end %>
        <% end %>

        <!--トグルボタンの設置-->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-content">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div id="nav-content" class="collapse navbar-collapse navbar-right">
        <!--リンクのリスト メニューリスト-->
        <ul class="nav navbar-nav">
          <% if !user_signed_in?  %>
            <li><%= link_to 'サインアップ・ログイン', user_twitter_omniauth_authorize_url, method: :post %></li>
          <% else %>
          <% if current_user.user_about %>
          <li><%= link_to "退会する", registration_path(current_user), :data => { :confirm => t('退会することになりますよ？', :default => "#{current_user.user_about.name}さん！！OKボタンを押すと、このサイトから退会することになりますよ(TT)。万一、誤って退会ボタンを押したのであれば、キャンセルで引き返してくださいませ！")}, :method => :delete %>
            <% else %>
            <li><%= link_to "名前を登録する", user_user_abouts_path(:user_id => current_user.id)  %>
              <% end %>
              <li><%= link_to "ログアウト", destroy_user_session_path,:method=>:delete %> </li>
              <% end %>
            </ul>

          </div>
        </div>
      </nav>
