<% if !browser.device.mobile?  %>
<nav class="kotei_header navbar navbar-inverse navbar-fixed-top" role="navigation" style="min-height: 0px;background:	#725538;">

<div id="gnavi" class="collapse navbar-collapse" style="padding-left: 0px;">
<div class="container">

<ul class="nav navbar-nav">

<li><a href="#scroll_0" style="margin-top:0px;margin-bottom:0px">0.トップ</a></li>
<li><a href="#scroll_3" style="margin-top:0px;margin-bottom:0px">1.お知らせ</a></li>
<li><a href="#scroll_1" style="margin-top:0px;margin-bottom:0px">2.超短編小説会について</a></li>
<li><a href="#scroll_2" style="margin-top:0px;margin-bottom:0px">3.小説</a></li>
<li><a href="#scroll_4" style="margin-top:0px;margin-bottom:0px">4.イヴェント</a></li>
<li><a href="#scroll_5" style="margin-top:0px;margin-bottom:0px">5.コミュニケーション</a></li>
<li><a href="#scroll_6" style="margin-top:0px;margin-bottom:0px">6.会員 </a></li>

</ul>
</div>
</div>
</nav>
<% end %>
