<!DOCTYPE html>
<html>
  <head>
    <% if user_signed_in? && !get_user_name.blank? && !comment_osirase.nil? %>
    <title><%= comment_osirase %>コメント付きました</title>
    <% else %>

    <title>私の趣味</title>
    <% end %>

    <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">



    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= include_gon %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/cropper/1.0.0/cropper.min.css" rel="stylesheet" type="text/css" media="all"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropper/1.0.0/cropper.min.js"></script>
    <%= analytics_init if Rails.env.production? %>
  </head>

  <body<%= html_safe if controller_name=="shougis_controller" %>>
    <%= render "layouts/header" %>
    <%= yield %>
    <%= render "layouts/footer" %>
  </body>
</html>
