<!DOCTYPE html>
<html>
  <head>
    <title>超短編小説会</title>
    <!-- <% if user_signed_in? && !get_user_name.blank? && !comment_osirase.nil? %>
    <title><%#= comment_osirase %>コメント付きました</title>
      <% end %> -->


    <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"> -->

    <%= include_gon %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

<!-- 桜吹雪 -->
    <!-- <script type="text/javascript" src="jquery-1.3.2.js"></script>
    <script type="text/javascript" src="snowfall.jquery.js"></script> -->
    <%= analytics_init if Rails.env.production? %>
  </head>


  <body>


    <%= render "layouts/header_short_short_story" %>
    <%= yield %>
    <%= render "layouts/footer_short_short_story" %>
  </body>
</html>
